{% unless grid_item_width %}
  {% assign grid_item_width = 'large--one-quarter medium-down--one-half' %}
{% endunless %}

{% assign image_size = settings.collection_prod_image_sizes %}

<div class="grid__item {{ grid_item_width }} article-grid-item">

  <a href="{{ article.url }}" class="product-grid__item text-left">
    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        {% assign image_alt = article.title | escape %}
        {{ article | img_url: 'medium' | img_tag: image_alt }}
      </div>
    </div>

    <p class="h6">{{ article.title }}</p>

    <div class="article-item--text">
      {{ article.excerpt | strip_html }}
    </div>

  </a>
</div>
