{% unless grid_item_width %}
  {% assign grid_item_width = 'large--one-quarter medium-down--one-half' %}
{% endunless %}

{% assign image_size = settings.collection_prod_image_sizes %}

<div class="grid__item {{ grid_item_width }} article-grid-item">

  <a href="{{ article.url }}" class="product-grid__item text-left">
    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        {% assign image_alt = article.title | escape %}
        {% if article.image %}
          {{ article | img_url: '1024x1024' | img_tag: image_alt }}
        {% else %}
          {% if article.excerpt contains "<img" %}
            {% assign src = article.excerpt | split: 'src="' %}
            {% assign src = src[1] | split: '"' | first %}
            {% if src %}
              <img src="{{src }}" alt="{{ image_alt }}">
            {% endif %}
          {% else %}
           {% if article.content contains "<img" %}
              {% assign src = article.content | split: 'src="' %}
              {% assign src = src[1] | split: '"' | first %}
              {% if src %}
                <img src="{{src }}" alt="{{ image_alt }}">
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}

      </div>
    </div>

    <p class="h6">{{ article.title }}</p>

    <div class="atricle-item--text">
      {{ article.excerpt | strip_html }}
    </div>

  </a>
</div>
