<iframe class="fb-likes" src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fplaymakers.shop&amp;width=240&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false"></iframe>

<h4>{% include 'l' with 'blogs.sidebar.newsletter' %}:</h4>
<form action="http://play-makers.us8.list-manage.com/subscribe/post?u=f8ccf2679d516fd2e247579b3&amp;id=22a6088452" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form" target="_blank" novalidate>
  <label for="mce-EMAIL">{% include 'l' with 'blogs.sidebar.newsletter_text' %}</label>
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="{% include 'l' with 'blogs.sidebar.newsletter_email' %}" required>
  <div style="position: absolute; left: -51234px;"><input type="text" name="b_f8ccf2679d516fd2e247579b3_22a6088452" value=""></div>
  <div class="clear">
    <input type="submit" value="{% include 'l' with 'blogs.sidebar.newsletter_button' %}" name="subscribe" id="mc-embedded-subscribe" class="btn button">
  </div>
</form>

<h4 class="partners">{% include 'l' with 'blogs.sidebar.mediapartner' %}:</h4>
<div class="partners">
  <a href="http://www.football-aktuell.de/cgi-bin/ehuddle.pl" target="_blank" title="E-Huddle">
    <img src="{{ 'partner-ehuddle.png' | asset_url }}" alt="E-Huddle">
  </a>

  <a href="http://www.football-aktuell.de" target="_blank" title="Football Aktuell">
    <img src="{{ 'partner-football-aktuell_quer.png' | asset_url }}" alt="Football Aktuell">
  </a>

  <a href="http://www.huddle-verlag.de" target="_blank" title="Huddle">
    <img src="{{ 'partner-huddle.png' | asset_url }}" alt="Huddle">
  </a>
</div>

<h4>{% include 'l' with 'blogs.sidebar.recent_articles' %}:</h4>
{% for article in blog.articles limit:8 %}
  <p>
    <a href="{{ article.url }}">{{ article.title }}</a>
    <br>
    <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
      <em class="text-light">{{ article.published_at | date: format: 'month_day_year' }}</em>
    </time>
  </p>
{% endfor %}
