<div class="fb-like-box" data-href="https://www.facebook.com/playmakers.shop" data-width="250px" data-height="300px" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false">
</div>

<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<div class="newsletter">
  <form action="http://play-makers.us8.list-manage.com/subscribe/post?u=f8ccf2679d516fd2e247579b3&amp;id=22a6088452" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form" target="_blank" novalidate>
    <h4>Newsletter:</h4>
    <label for="mce-EMAIL">Trage dich in unseren Newsletter ein, um Expertentipps &amp; News zu erhalten.</label>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Deine Emailaddresse" required>
    <div style="position: absolute; left: -51234px;"><input type="text" name="b_f8ccf2679d516fd2e247579b3_22a6088452" value=""></div>
    <div class="clear">
      <input type="submit" value="Eintragen" name="subscribe" id="mc-embedded-subscribe" class="btn button">
    </div>
  </form>
</div>

<div class="articles">
 <h4>Weitere Blog Artikel:</h4>
  <ul>
    {% for article in blog.articles limit: 5 %}
      <li><a href="{{ article.url }}">{{ article.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="tags">
  <h4>Tags:</h4>
  {% for tag in blog.tags %}
    <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
  {% endfor %}
</div>
