<footer class="site-footer small--text-center" role="contentinfo">

  <div class="wrapper">

    <div class="grid">
      {% if settings.footer_content_enable %}
      <div class="grid__item medium--one-half large--one-third">
        <h3>{{ settings.footer_content_title }}</h3>
        <p>
          {% if settings.footer_content_text != blank %}
            {{ settings.footer_content_text }}
          {% endif %}
        </p>
      </div>
      {% endif %}

      {% if settings.footer_social_enable %}
        <div class="grid__item medium--one-half large--one-third">
         <h3>{% include 'l' with 'layout.footer.get_in_touch' %}</h3>
          <ul class="inline-list social-icons">
            {% if settings.social_twitter_link != blank %}
              <li>
                <a class="icon-fallback-text" href="{{ settings.social_twitter_link }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Twitter' | escape }}">
                  <span class="icon icon-twitter" aria-hidden="true"></span>
                  <span class="fallback-text">Twitter</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_facebook_link != blank %}
              <li>
                <a class="icon-fallback-text" href="{{ settings.social_facebook_link }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Facebook' | escape }}">
                  <span class="icon icon-facebook" aria-hidden="true"></span>
                  <span class="fallback-text">Facebook</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_pinterest_link != blank %}
              <li>
                <a class="icon-fallback-text" href="{{ settings.social_pinterest_link }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Pinterest' | escape }}">
                  <span class="icon icon-pinterest" aria-hidden="true"></span>
                  <span class="fallback-text">Pinterest</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_google_plus_link != blank %}
              <li>
                <a class="icon-fallback-text" href="{{ settings.social_google_plus_link }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Google' | escape }}">
                  <span class="icon icon-google" aria-hidden="true"></span>
                  <span class="fallback-text">Google</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_instagram_link != blank %}
              <li>
                <a class="icon-fallback-text" href="{{ settings.social_instagram_link }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Instagram' | escape }}">
                  <span class="icon icon-instagram" aria-hidden="true"></span>
                  <span class="fallback-text">Instagram</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_tumblr_link != blank %}
              <li>
                <a class="icon-fallback-text" href="{{ settings.social_tumblr_link }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Tumblr' | escape }}">
                  <span class="icon icon-tumblr" aria-hidden="true"></span>
                  <span class="fallback-text">Tumblr</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_youtube_link != blank %}
              <li>
                <a class="icon-fallback-text" href="{{ settings.social_youtube_link }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'YouTube' | escape }}">
                  <span class="icon icon-youtube" aria-hidden="true"></span>
                  <span class="fallback-text">YouTube</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_vimeo_link != blank %}
              <li>
                <a class="icon-fallback-text" href="{{ settings.social_vimeo_link }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Vimeo' | escape }}">
                  <span class="icon icon-vimeo" aria-hidden="true"></span>
                  <span class="fallback-text">Vimeo</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_fancy_link != blank %}
              <li>
                <a class="icon-fallback-text" href="{{ settings.social_fancy_link }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Fancy' | escape }}">
                  <span class="icon icon-fancy" aria-hidden="true"></span>
                  <span class="fallback-text">Fancy</span>
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      {% endif %}

      <div class="grid__item large--one-third">
        {% if settings.footer_newsletter_enable %}
          <h3>{{ settings.footer_newsletter_title }}</h3>
          {% include 'newsletter-form' %}
        {% else %}
          <h3>{% include 'l' with 'layout.footer.pay_save' %}</h3>
          <ul class="inline-list payment-icons">
            {% for type in shop.enabled_payment_types %}
              <li>
                <span class="icon-fallback-text">
                  <span class="icon icon-{{ type }}" aria-hidden="true"></span>
                  <span class="fallback-text">{{ type | replace: '_',' ' }}</span>
                </span>
              </li>
            {% endfor %}
            <li class="ec_vorkasse">
              <img src="{{ 'layout.footer.pay_save_ec_img' | t | asset_url }}" aria-hidden="true" alt="{% include 'l' with 'layout.footer.pay_save_ec_alt' %}">
            </li>
          </ul>
        {% endif %}
      </div>
    </div>

    <div class="grid">
      <div class="grid__item text-center">
        <ul class="inline-list">
          <li>
            <!-- Beginn des Händlerbund HTML-Code -->
            <!-- Der HTML-Code darf im Sinne der einwandfreien Funktionalität nicht verändert werden! -->
            <a href="https://www.kaeufersiegel.de/zertifikat/?sid=14B0296BD35" target="_blank">
            <img src="https://www.kaeufersiegel.de/images/ks/ks120.png" title="Händlerbund Käufersiegel"
            alt="Mitglied im Händlerbund" hspace="5" vspace="5" border="0" />
            </a>
            <!-- Ende des Händlerbund HTML-Code -->
          </li>
          <li>
            &nbsp;
          </li>
          <li>
            <!-- Beginn des Händlerbund HTML-Code -->
            <!-- Der HTML-Code darf im Sinne der einwandfreien Funktionalität nicht verändert werden! -->
            <a href="https://www.haendlerbund.de/kaeufersiegel/ecommerce-europe-trustmark/zertifikat/" target="_blank">
            <img src="https://www.haendlerbund.de/images/ecommerce-europe/ecommerce-europe-trustmark-logo-93-2.png" title="Ecommerce Europe Trustmark Logo"
            alt="Ecommerce Europe Trustmark Logo" hspace="5" vspace="5" border="0" />
            </a>
            <!-- Ende des Händlerbund HTML-Code -->
          </li>
        </ul>
      </div>
    </div>

    <hr class="hr--small">

    <div class="grid">
      <div class="grid__item">
        <ul class="legal-links inline-list">
          {% for link in linklists['footer'].links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          {% if shop.customer_accounts_enabled %}
            <li class="legal-links--account">
            {% if customer %}
              {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
              {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }} &middot; {{ 'layout.customer.log_out' | t | customer_logout_link }}
            {% else %}
              {{ 'layout.customer.sign_in' | t | customer_login_link }}
              {% if shop.customer_accounts_optional %}
              <span class="site-header--spacer">{% include 'l' with 'layout.customer.or' %}</span>
              {{ 'layout.customer.create_account' | t | customer_register_link }}
              {% endif %}
            {% endif %}
            </li>
          {% endif %}
          <li class="legal-links--copyright">
            &copy; {{ 'now' | date: "%Y" }} {{ shop.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
