<li>
  <div class="head">
    <a href="{{ product.url }}">
      <img src="{{ product.featured_image | product_img_url: 'compact' }}" alt="{{ product.featured_image.alt | escape }}">
    </a>
  </div>
  <div class="body">
    <h4>{{ product.vendor }} {{ product.title }}</h4>
    <a href="{{ product.url }}"> &gt; Details</a>
    <a href="{{ product.url }}" class="price">{% if product.type == 'Helme' %}<small>ab</small> {% endif %}{{ product.price | money }}</a>
  </div>
</li>

