{% unless grid_item_width %}
  {% assign grid_item_width = 'large--one-quarter medium-down--one-half' %}
{% endunless %}

{% unless current_collection %}
  {% assign current_collection = collection %}
{% endunless %}

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}{% assign on_sale = true %}{% endif %}

{% assign sold_out = true %}
{% if product.available  %}{% assign sold_out = false %}{% endif %}

{% assign image_size = settings.collection_prod_image_sizes %}

<div class="grid__item {{ grid_item_width }}{% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}">

  <a href="{{ product.url | within: current_collection }}" class="product-grid__item">
    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        {% if sold_out %}
          <div class="badge badge--sold-out"><span class="badge-label">{{ 'products.product.sold_out' | t }}</span></div>
        {% endif %}
        {% if on_sale %}
          <div class="badge badge--on-sale"><span class="badge-label">{{ 'products.product.on_sale' | t }}</span></div>
        {% endif %}
        <img src="{{ product.featured_image.src | img_url: image_size }}" alt="{{ product.featured_image.alt | escape }}">
      </div>
    </div>

    <p class="h6">{{ product.vendor }} {{ product.title }}</p>
    {% if on_sale %}
      {% assign product_price = product.compare_at_price %}
    {% else %}
      {% assign product_price = product.price %}
    {% endif %}

    <div class="product-item--price">
      {% if product.price_varies %}<small>ab</small>{% endif %}
      <span class="h1">{{ product_price | money }}</span>

      {% if on_sale %}
        <span class="sale-price">{{ product.price | money }}</span>
      {% endif %}
    </div>
    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
  </a>
</div>
