{% assign size = product_accordeon_panel_count | size %}
{% if 0 == size %}
  {% assign product_accordeon_panel_count = 1 %}
  {% assign active = 'in' %}
{% else %}
  {% assign product_accordeon_panel_count = product_accordeon_panel_count | plus: 1 %}
  {% assign active = '' %}
{% endif %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{product_accordeon_panel_count}}">
        {{ product_accordeon_panel }}
      </a>
    </h2>
  </div>
  <div id="collapse{{product_accordeon_panel_count}}" class="panel-collapse collapse {{active}}">
    <div class="panel-body">
      {{ product_accordeon_panel_body }}
    </div>
  </div>
</div>

