<ul class="site-nav" id="AccessibleNav">
  <li class="large--hide"><a href="/">Home</a></li>
  {% for link in linklists['main-menu'].links %}
    {% assign child_list_handle = link.title | handleize %}
    {% if child_list_handle != 'sale' && link.object.products != blank %}
      <li class="site-nav--has-dropdown site-nav--{{ child_list_handle }}{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
        <a href="{{ link.url }}">
          {{ link.title }}
          <span class="icon-fallback-text">
            <span class="icon icon-arrow-down" aria-hidden="true"></span>
          </span>
        </a>
        <ul class="site-nav--dropdown">
          {% for product in link.object.products %}
            <li {% if childlink.active %}class="site-nav--active"{% endif %}><a href="{{ product.url | within: link.object }}">
              {% comment %}<img id="productPhotoImg" class="lazy" height="25" data-original="{{ product.featured_image | product_img_url: 'thumb' }}">{% endcomment %}
              {{ product.vendor | escape }} {{ product.title | escape }}
            </a></li>
          {% endfor %}

          {% assign type_name =  'Zubehör ' | append: link.object.products.first.type  %}
          {% if shop.types contains type_name %}
            <li {% if link.active %}class="site-nav--active"{% endif %}>
              <a href="{{ link.url }}-zubehoer">{{ type_name }}</a>
            </li>
          {% endif %}
        </ul>
      </li>
    {% else %}
      <li class="site-nav--{{ child_list_handle }}{% if link.active %} site-nav--active{% endif %}">
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
  {% for link in linklists['menu-header'].links %}
    <li class="large--hide {% if link.active %}site-nav--active{% endif %}">
      <a href="{{ link.url }}">{{ link.title }}</a>
    </li>
  {% endfor %}
</ul>
