{% if settings.slider_home_enable %}
  <div class="flexslider grid-uniform fullsize" data-auto="{{ settings.slider_home_auto }}" data-rate="{{ settings.slider_home_rate }}">
    <ul class="slides">
      <li class="banner2">
        <div class="slider">
          <div class="img">
            <img src="{{ 'banner2.jpg' | asset_url }}" alt="Mario Nowak, Ivo Schönberner, Kerim Homri - Europameister 2014">
          </div>
          <div class="teaser">
            <div class="iwrapper">
              <p class="header">
                Booste deine Football Saison 2015!
              </p>
              <p>
                Wir haben dein Next-Level Equipment!
              </p>
              <ul>
                <li><a href="/collections/american-football-helme" class="btn button">Footballhelm &gt;</a></li>
                <li><a href="/collections/american-football-schulterpolster" class="btn button">Schulterpolster kaufen &gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>

      <li class="banner3">
        <div class="slider">
          <div class="img">
            <img src="{{ 'banner3.jpg' | asset_url }}" alt="XENITH XFLEXION - American Football Schulsterpolster mit innovativer Polsterung">
          </div>
          <div class="teaser">
            <div class="iwrapper">
              <span class="header">
                <img src="{{ 'banner3-protection-reloaded.jpg' | asset_url }}" alt="XENITH XFLEXION - protection-reloaded">
                <p>Die <em>neue</em> Generation von Shoulder Pads</p>
                <p class="product">XENITH XFLEXION</p>
                <p class="info">Innovative Polsterung, herausragende Flexibilität und "Bad Ass" Style</p>
              </span>
              <ul>
                <li><a href="/collections/american-football-schulterpolster/products/xenith-xflexion" class="btn button">Jetzt den XENITH XFLEXION kaufen &gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
{% endif %}
