{% if template contains 'article' or template contains 'blog' %}
  {% assign item_url = article.url %}
{% elsif template contains 'product' %}
  {% assign item_url = product.url %}
{% endif %}

{% assign permalinkURL = locale_shop_url | append: item_url %}
{% assign shareButtonStyle = settings.social_sharing_style %}

<div class="social-sharing {{ shareButtonStyle }}" data-permalink="{{ permalinkURL }}">

  {% if settings.share_facebook %}
    <a target="_blank" href="//www.facebook.com/sharer.php?u={{ permalinkURL }}" class="share-facebook">
      <span class="icon icon-facebook"></span>
      <span class="share-title">{% include 'l' with 'products.general.share_on_facebook' %}</span>
      {% if settings.social_sharing_count %}
        <span class="share-count">0</span>
      {% endif %}
    </a>
  {% endif %}

  {% if settings.share_twitter %}
    <a target="_blank" href="//twitter.com/share?url={{ permalinkURL }}" class="share-twitter">
      <span class="icon icon-twitter"></span>
      <span class="share-title">{% include 'l' with 'products.general.share_on_twitter' %}</span>
      {% if settings.social_sharing_count %}
        <span class="share-count">0</span>
      {% endif %}
    </a>
  {% endif %}

  {% if settings.share_google %}
    <a target="_blank" href="//plus.google.com/share?url={{ permalinkURL }}" class="share-google">
      <!-- Cannot get Google+ share count with JS yet -->
      <span class="icon icon-google"></span>
      {% if settings.social_sharing_count %}
        <span class="share-count">+1</span>
      {% else %}
        <span class="share-title">+1</span>
      {% endif %}
    </a>
  {% endif %}

</div>
