<style>
    @font-face {
        font-family: 'playmaker_3regular';
        src: url('//cdn.shopify.com/s/files/1/0240/1531/t/5/assets/playmaker_3-webfont.eot');
        src: url('//cdn.shopify.com/s/files/1/0240/1531/t/5/assets/playmaker_3-webfont.eot?#iefix') format('embedded-opentype'),
             url('//cdn.shopify.com/s/files/1/0240/1531/t/5/assets/playmaker_3-webfont.woff') format('woff'),
             url('//cdn.shopify.com/s/files/1/0240/1531/t/5/assets/playmaker_3-webfont.ttf') format('truetype'),
             url('//cdn.shopify.com/s/files/1/0240/1531/t/5/assets/playmaker_3-webfont.svg#playmaker_3regular') format('svg');
        font-weight: normal;
        font-style: normal;
    }

  .shop-address {
    text-decoration: underline;
    font-size: 10px;
  }

  h3.head {
    font-family: 'playmaker_3regular';
  }

  th.right {
    text-align: right;
  }

  .printer-preview-content hr {
    margin: 0;
  }

  tr {
    height: 19px;
  }

  .products tbody tr {
    height: 22px;
  }
  .products tfoot .final td {
    padding-top: 12px;
  }

  /*
  .footer {
    position: fixed;
    bottom: 0;
  }
  */

  .footer td {
    color: #DDD;
    font-size: 10px;
  }
</style>

<table width="100%">
<tr>
  <td valign="bottom">
    <div class="shop-address">PM 24 Trading UG (haftungsbeschränkt) | {{ shop.address }} | {{ shop.zip | upcase }} {{ shop.city }}</div>
  </td>
  <td align="right">
    <img src="http://cdn.shopify.com/s/files/1/0240/1531/files/order_logo.png?9252" height="140">
  </td>
</tr>
</table>

<br/>
<br/>
<div>
  <strong>{{ shipping_address.name }}</strong><br/>
  {% if shipping_address.company %}
    {{ shipping_address.company }}<br/>
  {% endif %}
  {{ shipping_address.street }}<br/>
  {{ shipping_address.zip | upcase }} {{ shipping_address.city }}<br/>
</div>

<table width="100%">
<tr>
  <td align="right">Rechnungsdatum:&nbsp;</td>
  <td align="right" width="90">{{ created_at | date: "%d.%m.%Y" }}</td>
</tr>
<tr>
  <td align="right">Liefer- bzw. Leistungsdatum:&nbsp;</td>
  <td align="right">{{ fulfillments.first.created_at | date: "%d.%m.%Y" }}</td>
</tr>
<tr>
  <td align="right">Rechnungs-Nr.:&nbsp;</td>
  <td align="right">{{ order_name }}</td>
</tr>
</table>

<h3 class="head">Vielen Dank für deine Bestellung!</h3>

{% if shipping_address %}
<h4>Lieferung an:</h4>

<div>
  <strong>{{ shipping_address.name }}</strong><br/>
  {% if shipping_address.company %}
    {{ shipping_address.company }}<br/>
  {% endif %}
  {{ shipping_address.street }}<br/>
  {{ shipping_address.zip | upcase }} {{ shipping_address.city }}<br/>
</div>
{% endif %}

<br/>
<br/>

<table width="100%" class="products">
  <thead>
    <tr>
      <th><strong>Bezeichnung</strong></th>
      <th><strong>Menge</strong></th>
      <th class="right"><strong>Einzel/&euro;</strong></th>
      <th class="right" width="90"><strong>Gesamt/&euro;</strong></th>
    </tr>
    <tr>
      <td colspan="4"><hr></td>
    </tr>
  </thead>
  <tbody>
    {% for line_item in line_items %}
      <tr>
        <td>{{ line_item.title }}</td>
        <td>{{ line_item.quantity }} Stück</td>
        <td align="right">{{ line_item.price | money }}</td>
        <td align="right">{{ line_item.line_price | money }}</td>
      </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">&nbsp;</td>
    </tr>

    {% for discount in discounts %}
      <tr>
        <td colspan="3" align="right">Gutscheincode '{{ discount.code }}'&nbsp;</td>
        <td align="right"> - {{ discount.savings | money }}</td>
      </tr>
    {% endfor %}
    {% if shipping_address %}
      <tr>
        <td colspan="3" align="right">Versandkosten&nbsp;</td>
        <td align="right">{{ shipping_price | money }}</td>
      </tr>
    {% endif %}
    <tr class="final">
      <td colspan="3" align="right">Summe netto&nbsp;</td>
      <td align="right">{{ total_price | minus: tax_price | money }}</td>
    </tr>
    <tr>
      <td colspan="3" align="right">Umsatzsteuer 19%&nbsp;</td>
      <td align="right">{{ tax_price | money }}</td>
    </tr>
    <tr class="final">
      <td colspan="3" align="right"><strong>Rechnungsbetrag</strong>&nbsp;</td>
      <td align="right"><strong>{{ total_price | money }}</strong></td>
    </tr>
  </tfoot>
</table>

<br>
<br>

Der Rechnungsbetrag wurde per {{ transactions.first.gateway | payment_method  }} beglichen.

<br>
<br>

<table width="100%" class="footer">
<tr>
  <td width="38%">
    PM 24 Trading UG (haftungsbeschränkt)<br>
    Schwedter Straße 45<br>
    10435 Berlin<br>
    Web:&nbsp;&nbsp;&nbsp;{{ shop.domain }}<br>
    Email:&nbsp;&nbsp;{{ shop.email }}
  </td>
  <td >
    Deutsche Bank<br>
    BLZ: 10070024<br>
    KTO: 6682868<br>
    IBAN: DE90100700240668286800<br>
    BIC: DEUTDEDBBER
  </td>
  <td width="28%">
    Geschäftsführer: Pascal Heck<br>
    Registerg.: AG Charlottenburg<br>
    HRB Nummer: 151649 B<br>
    Sitz der Gesellschaft.: Berlin<br>
    Ust-IdNr.: DE815445839
  </td>
</tr>
</table>
