{% assign page_title_claim = ' | Playmakers, dein American Football Shop' %}
{% if cpage_title %}
  {% assign page_title = cpage_title %}
{% endif %}
{% if cpage_title_claim %}
  {% assign page_title_claim = cpage_title_claim %}
{% endif %}
{% if cpage_description %}
  {% assign page_description = cpage_description %}
{% endif %}
<!DOCTYPE html>
<html lang="de">
  <head>
    <title>{{ page_title }}{{ page_title_claim }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page_description | truncate: 160 }}">
    <meta name="author" content="Playmakers - Pascal Heck">
    <meta name="revisit-after" content="7 days">
    <meta name="robots" content="index,follow">
    <meta http-equiv="content-language" content="de">
    <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}">
    <link rel="canonical" href="{{ canonical_url }}">

    {{ 'css_style.css' | asset_url | stylesheet_tag }}

    {% include 'facebook' %}

    <!--[if lt IE 9]>
      {{ 'js_html5shiv.js' | asset_url | script_tag }}
      {{ 'js_respond.min.js' | asset_url | script_tag }}
    <![endif]-->

    {{ content_for_header }}
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/de_DE/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div id="menu">
      <div class="container">
        <div class="row">
          <div class="col-md-11 col-lg-10 col-md-offset-1">
            <nav>
              <ul id="main-nav" class="nav nav-pills">
                <li class="nav-logo">
                  <a href="/" title="Playmakers Logo - dein American Football Shop"><img width="129" height="162" src="{{ 'logo.png' | asset_url }}" alt="Playmakers Logo - dein American Football Shop"></a>
                </li>
                {% assign linklist = linklists['main-menu'] %}
                {% for link in linklist.links %}
                  {% assign title = link.title | split: ';' %}
                  {% assign active = link.active %}
                  {% if product && link.type == 'collection_link' %}
                    {% assign active = false %}
                    {% for collection in product.collections %}
                      {% if active == false and collection.handle == link.object.handle %}
                        {% assign active = true %}
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                  <li class="{{ title[1] }} {% if active %}active{% endif %}"><a class="button" href="{{ link.url }}" title="{{ link.object.title }}">{{ title[0] }}</a></li>
                {% endfor %}
                 <li class="nav-banner">
                  <a href="/"><img width="129" height="96" src="{{ 'banner.png' | asset_url }}" alt="Neueröffnung - Top Insights, Top Preise"></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div id="main" class="container">
      <header>
        <div id="header" class="row">
          <div class="col-xs-4 col-md-4 col-md-offset-1">
            <nav>
              <ul class="header-menu nav nav-pills hidden">
                {% assign linklist = linklists['header-menu'] %}
                {% for link in linklist.links %}
                  {% assign title = link.title | split: ';' %}
                  <li class="{{ title[1] }} {% if link.active %}active{% endif %}">
                    <a href="{{ link.url }}">{{ title[0] }}</a>
                  </li>
                {% endfor %}
              </ul>
            </nav>
          </div>
          <div id="searchbar" class="col-xs-8 col-md-7">
            <nav>
              <ul class="header-menu nav nav-pills pull-right">
                {% if cart.item_count > 0 %}
                  <li><a href="/cart">Warenkorb <span class="badge">{{ cart.item_count }}</span></a></li>
                {% endif %}
              </ul>
            </nav>
            <br>
            <form action="/search" method="get" class="search-form" role="search">
              <input type="hidden" name="type" value="product" />
              <div class="input-group">
                <label class="sr-only" for="searchterms">Suche</label>
                <input type="text" class="form-control" id="searchterms" name="q" value="{{ search.terms | escape }}" placeholder="Playmakers durchsuchen nach..." />
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">Suchen!</button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </header>

      <section class="{{ template | replace: '.', ' '}}">
        {{ content_for_layout }}
      </section>

      <footer>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
            <ul id="footer-list">
              {% include 'footer_menu' with 'footer-shop-menu' %}
              {% include 'footer_menu' with 'footer' %}
              {% include 'footer_menu' with 'footer-info-menu' %}
              <li class="socials">
                <h4>Folge uns auf</h4>
                <ul>
                  <li>
                   <div class="fb-like" data-href="http://www.facebook.com/playmakers.shop" data-colorscheme="light" data-layout="button_count" data-show-faces="false"></div>
                  </li>
                  <li>
                   <a href="https://twitter.com/playmakers_shop" class="twitter-follow-button" data-show-count="false" data-lang="de">@playmakers_shop</a>
                   <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                  </li>
                  <li>
                    <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="100"></div>
                  </li>
                </ul>
              </li>
              <li class="payment-methods">
                <h4>Bequem zahlen mit</h4>
                <img width="100" height="52" src="{{ 'paypal_logo.png' | asset_url }}" alt="Paypal Logo">
              </li>
            </ul>
          </div>
        </div>
      </footer>
    </div>

    {{ '//code.jquery.com/jquery-1.10.2.min.js' | script_tag }}
    {{ 'js_bootstrap.min.js' | asset_url | script_tag }}

    {{ 'jquery.fancybox.pack.js' | asset_url | script_tag }}
    {{ 'jquery.fancybox-thumbs.pack.js' | asset_url | script_tag }}

    {{ 'js_api.min.js' | asset_url | script_tag }}

    <script type="text/javascript">
      function inIframe () {
        try {
          return window.self !== window.top;
        } catch (err) {
          return true;
        }
      }

      if (inIframe()) {
        $('body').addClass('plain');
      }

      $(document).ready(function() {
        $('#teaser .carousel').carousel().on('slide.bs.carousel', function(event) {
          $("#teaser-products ul").removeClass("active");
          $('#' + event.relatedTarget.id + '-product').addClass("active");
        });

        $('[data-fancybox-type]').fancybox();

        $('.fancybox').fancybox({
          openEffect: 'elastic',
          prevEffect: 'fade',
          nextEffect: 'fade',
          helpers: {
            thumbs: {
              width: 100,
              height: 100
            }
          }
        });

        $(".fancybox-launcher").on("click", function(){
          $(".fancybox").eq(0).trigger("click");
        });
      }).on("scroll", function(){
        if ($(window).scrollTop() >= 50) {
          $('#menu').addClass('sticky');
        }
        else {
          $('#menu').removeClass('sticky');
        }
      });
    </script>
    <script type="text/javascript">
      window.___gcfg = {lang: 'de'};

      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>

    {{ content_for_footer }}
  </body>
</html>
