{% include 'l_setup' %}<!DOCTYPE HTML>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{% include 'l' with 'layout.navigation.language' %}"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="{% include 'l' with 'layout.navigation.language' %}"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="{% include 'l' with 'layout.navigation.language' %}"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="{% include 'l' with 'layout.navigation.language' %}" class="no-touch no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  <link rel="alternate" hreflang="de" href="https://www.playmakers-football.de/" />

  <title>{{ page_title }}{% unless page_title contains 'PLAYMAKERS' %} &ndash; {{ shop.name }}{% endunless %}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'open-graph-tags' %}
  {% include 'twitter-card' %}

  <link rel="canonical" href="{{ locale_canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="msvalidate.01" content="98A9D8B3C93FC3932BCF4681EA02E831" />

  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  <style>
    @font-face {
      font-family: 'icons';
      src: url('{{ "icons.eot" | asset_url }}');
      src: url('{{ "icons.eot" | asset_url }}#iefix') format("embedded-opentype"),
           url('{{ "icons.woff" | asset_url }}') format("woff"),
           url('{{ "icons.ttf" | asset_url }}') format("truetype"),
           url('{{ "icons.svg" | asset_url }}#timber-icons') format("svg");
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: 'playmakers';
      src: url(' {{ "playmakers.eot" | asset_url }} ');
      src: url(' {{ "playmakers.eot" | asset_url }}?#iefix ') format('embedded-opentype'),
           url(' {{ "playmakers.woff" | asset_url }} ') format('woff'),
           url(' {{ "playmakers.ttf" | asset_url }} ') format('truetype'),
           url(' {{ "playmakers.svg" | asset_url }}#playmakers ') format('svg');
      font-weight: normal;
      font-style: normal;
    }

    /* latin-ext */
    @font-face {
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 600;
      src: local('Dosis SemiBold'), local('Dosis-SemiBold'), url(https://fonts.gstatic.com/s/dosis/v4/yeSIYeveYSpVN04ZbWTWghkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
      unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 600;
      src: local('Dosis SemiBold'), local('Dosis-SemiBold'), url(https://fonts.gstatic.com/s/dosis/v4/O6SOu9hYsPHTU43R17NS5XYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
    }
  </style>

  {{ content_for_header }}

  {% include 'oldIE-js' %}

  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}

  <script type="application/ld+json">
    {
    "@context": "http://schema.org/",
    "@type": "Organization",
    "url": "{{ locale_shop_url }}",
    "logo": "http:{{ 'logo.svg' | asset_url }}"
    }
  </script>
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
  <header class="site-header" role="banner">
    <div class="wrapper header">
      <div class="grid--full">
        {% capture tag %}{% if template == 'index' %}h1{% else %}div{% endif %}{% endcapture %}
        <{{ tag }} class="h1 header-logo large--left" itemscope itemtype="http://schema.org/Organization">
          <a href="{{ locale_shop_url }}" itemprop="url"><img src="{{ 'logo.svg' | asset_url }}" alt="{{ shop.name }} Online Shop" itemprop="logo">{{ shop.name }}</a>
        </{{ tag }}>

        {% include 'l' with 'layout.navigation.special_html' %}

        <div class="header-nav large--text-right">
          <a href="/cart" class="header-btn cart-toggle right">
            <span class="icon icon-cart"></span>
            {% include 'l' with 'layout.cart.cart' %} <span id="cartCount" {% if cart.item_count == 0 %}class="hidden-count"{% endif %}>{{ cart.item_count }}</span>
          </a>

          {% assign linklist = locale_prefix | append: 'header-menu' %}
          {% for link in linklists[linklist].links %}
            <a href="{{ link.url }}" class="header-btn link--{{ link.title | handleize }}">
              {{ link.title }}
            </a>
          {% endfor %}
        </div>
      </div>

    </div>
  </header>

  <div id="mobileNavBar">
    <div class="display-table-cell">
      <a class="menu-toggle mobileNavBar-link">{% include 'l' with 'layout.navigation.mobile_menu' %}</a>
    </div>
    <div class="display-table-cell text-center text-logo">
      <a href="{{ locale_shop_url }}">
        <img src="{{ 'logo.svg' | asset_url }}" alt="{{ shop.name }} Online Shop" title="{{ shop.name }} Online Shop">{{ shop.name }}
      </a>
    </div>
    <div class="display-table-cell">
      <a href="/cart" class="cart-toggle mobileNavBar-link">
        <span class="icon icon-cart"></span>
      </a>
    </div>
  </div>

  <nav class="nav-bar" role="navigation">
    <div class="wrapper header">
      {% include 'search-bar' %}
      {% include 'site-nav' %}
    </div>
  </nav>

  <main class="wrapper main-content" role="main">
    {{ content_for_layout }}
  </main>

<footer class="site-footer small--text-center" role="contentinfo">
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item medium--one-half large--one-third">
        <h3>{% include 'l' with 'layout.footer.content.title' %}</h3>
        <p>{% include 'l' with 'layout.footer.content.text_html' %}</p>
      </div>

      {% if settings.footer_social_enable %}
        <div class="grid__item medium--one-half large--one-third">
         <h3>{% include 'l' with 'layout.footer.get_in_touch' %}</h3>
          <ul class="inline-list social-icons">
            {% if settings.social_twitter_link != blank %}
              <li>
                <a class="icon-fallback-text" href="{{ settings.social_twitter_link }}" title="{% include 'lt' with 'layout.footer.store_on_social_network' %}{{ lk | t: store_name: shop.name, social_network: 'Twitter' | escape }}">
                  <span class="icon icon-twitter" aria-hidden="true"></span>
                  <span class="fallback-text">Twitter</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_facebook_link != blank %}
              <li>
                <a class="icon-fallback-text" href="{{ settings.social_facebook_link }}" title="{% include 'lt' with 'layout.footer.store_on_social_network' %}{{ lk | t: store_name: shop.name, social_network: 'Facebook' | escape }}">
                  <span class="icon icon-facebook" aria-hidden="true"></span>
                  <span class="fallback-text">Facebook</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_pinterest_link != blank %}
              <li>
                <a class="icon-fallback-text" href="{{ settings.social_pinterest_link }}" title="{% include 'lt' with 'layout.footer.store_on_social_network' %}{{ lk | t: store_name: shop.name, social_network: 'Pinterest' | escape }}">
                  <span class="icon icon-pinterest" aria-hidden="true"></span>
                  <span class="fallback-text">Pinterest</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_google_plus_link != blank %}
              <li>
                <a class="icon-fallback-text" href="{{ settings.social_google_plus_link }}" title="{% include 'lt' with 'layout.footer.store_on_social_network' %}{{ lk | t: store_name: shop.name, social_network: 'Google' | escape }}">
                  <span class="icon icon-google" aria-hidden="true"></span>
                  <span class="fallback-text">Google</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_instagram_link != blank %}
              <li>
                <a class="icon-fallback-text" href="{{ settings.social_instagram_link }}" title="{% include 'lt' with 'layout.footer.store_on_social_network' %}{{ lk | t: store_name: shop.name, social_network: 'Instagram' | escape }}">
                  <span class="icon icon-instagram" aria-hidden="true"></span>
                  <span class="fallback-text">Instagram</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_tumblr_link != blank %}
              <li>
                <a class="icon-fallback-text" href="{{ settings.social_tumblr_link }}" title="{% include 'lt' with 'layout.footer.store_on_social_network' %}{{ lk | t: store_name: shop.name, social_network: 'Tumblr' | escape }}">
                  <span class="icon icon-tumblr" aria-hidden="true"></span>
                  <span class="fallback-text">Tumblr</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_youtube_link != blank %}
              <li>
                <a class="icon-fallback-text" href="{{ settings.social_youtube_link }}" title="{% include 'lt' with 'layout.footer.store_on_social_network' %}{{ lk | t: store_name: shop.name, social_network: 'YouTube' | escape }}">
                  <span class="icon icon-youtube" aria-hidden="true"></span>
                  <span class="fallback-text">YouTube</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_vimeo_link != blank %}
              <li>
                <a class="icon-fallback-text" href="{{ settings.social_vimeo_link }}" title="{% include 'lt' with 'layout.footer.store_on_social_network' %}{{ lk | t: store_name: shop.name, social_network: 'Vimeo' | escape }}">
                  <span class="icon icon-vimeo" aria-hidden="true"></span>
                  <span class="fallback-text">Vimeo</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_fancy_link != blank %}
              <li>
                <a class="icon-fallback-text" href="{{ settings.social_fancy_link }}" title="{% include 'lt' with 'layout.footer.store_on_social_network' %}{{ lk | t: store_name: shop.name, social_network: 'Fancy' | escape }}">
                  <span class="icon icon-fancy" aria-hidden="true"></span>
                  <span class="fallback-text">Fancy</span>
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      {% endif %}

      <div class="grid__item large--one-third">
        {% if settings.footer_newsletter_enable %}
          <h3>{{ settings.footer_newsletter_title }}</h3>
          {% include 'newsletter-form' %}
        {% else %}
          <h3>{% include 'l' with 'layout.footer.pay_save' %}</h3>
          <ul class="inline-list payment-icons">
            {% for type in shop.enabled_payment_types %}
              <li>
                <span class="icon-fallback-text">
                  <span class="icon icon-{{ type }}" aria-hidden="true"></span>
                  <span class="fallback-text">{{ type | replace: '_',' ' }}</span>
                </span>
              </li>
            {% endfor %}
            <li class="ec_vorkasse">
              <img src="{% include 'lt' with 'layout.footer.pay_save_ec_img' %}{{ t | asset_url }}" aria-hidden="true" alt="{% include 'l' with 'layout.footer.pay_save_ec_alt' %}">
            </li>
          </ul>
        {% endif %}
      </div>
    </div>

    <div class="grid">
      <div class="grid__item text-center">
        <ul class="inline-list">
          <li>
            <img src="{{ 'dhl.png' | asset_url }}" height="50" class="dhl" title="Wir versenden mit DHL"
            alt="Wir versenden mit DHL" hspace="5" vspace="5" border="0" />
          </li>
          <li>
            <!-- Beginn des Händlerbund HTML-Code -->
            <!-- Der HTML-Code darf im Sinne der einwandfreien Funktionalität nicht verändert werden! -->
            <a href="https://www.kaeufersiegel.de/zertifikat/?sid=14B0296BD35" target="_blank">
            <img src="https://www.kaeufersiegel.de/images/ks/ks120.png" title="Händlerbund Käufersiegel"
            alt="Mitglied im Händlerbund" hspace="5" vspace="5" border="0" />
            </a>
            <!-- Ende des Händlerbund HTML-Code -->
          </li>
          <li>
            &nbsp;
          </li>
          <li>
            <!-- Beginn des Händlerbund HTML-Code -->
            <!-- Der HTML-Code darf im Sinne der einwandfreien Funktionalität nicht verändert werden! -->
            <a href="https://www.haendlerbund.de/kaeufersiegel/ecommerce-europe-trustmark/zertifikat/" target="_blank">
            <img src="https://www.haendlerbund.de/images/ecommerce-europe/ecommerce-europe-trustmark-logo-93-2.png" title="Ecommerce Europe Trustmark Logo"
            alt="Ecommerce Europe Trustmark Logo" hspace="5" vspace="5" border="0" />
            </a>
            <!-- Ende des Händlerbund HTML-Code -->
          </li>
        </ul>
      </div>
    </div>

    <hr class="hr--small">

    <div class="grid">
      <div class="grid__item">
        <ul class="legal-links inline-list">
          {% assign linklist = locale_prefix | append: 'footer' %}
          {% for link in linklists[linklist].links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          {% if shop.customer_accounts_enabled %}
            <li class="legal-links--account">
            {% if customer %}
              {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
              {% include 'lt' with 'layout.customer.logged_in_as_html' %}{{ lk | t: first_name: first_name }} &middot; {% include 'lt' with 'layout.customer.log_out' %}{{ t | customer_logout_link }}
            {% else %}
              {% include 'lt' with 'layout.customer.sign_in' %}{{ t | customer_login_link }}
              {% if shop.customer_accounts_optional %}
              <span class="site-header--spacer">{% include 'l' with 'layout.customer.or' %}</span>
              {% include 'lt' with 'layout.customer.create_account' %}{{ t | customer_register_link }}
              {% endif %}
            {% endif %}
            </li>
          {% endif %}
          <li class="legal-links--copyright">
            &copy; {{ 'now' | date: "%Y" }} {{ shop.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

  {% include 'ajax-cart-template' %}

  {{ 'scripts2.js' | asset_url | script_tag }}

  {{ content_for_footer }}

  <script>
    var inIframe = function() {
      try {
        return window.self !== window.top;
      } catch (err) {
        return true;
      }
    };

    if (inIframe()) {
      $('body').addClass('plain');
    }
  </script>

  <a href="https://plus.google.com/+PlaymakersDeShop" rel="publisher"></a>
  <!-- {{ missing | join: ',' }} -->
</body>
</html>
