<!DOCTYPE html>
<html>
  <head>
    <title>{% if template == "404" %}Page not found{% elsif template == 'index' %}{{ shop.name }}{% else %}{{ page_title }} - {{ shop.name }}{% endif %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page_description %}
    <meta name="description" content="{{ page_description }}">
    {% endif %}
    <meta name="author" content="{{ settings.meta_author }}">

    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png">
    <link rel="canonical" href="{{ canonical_url }}">

    {% include 'fb-open-graph-tags' %}

    <!--[if lt IE 9]>
      {{ 'js_html5shiv.js' | asset_url | script_tag }}
      {{ 'js_respond.min.js' | asset_url | script_tag }}
    <![endif]-->

    <!-- content_for_header start -->
    {{ content_for_header }}
    <!-- content_for_header end -->

    {{ 'css_style.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    <div id="menu">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <nav>
              <ul id="main-nav" class="nav nav-pills">
                <li class="nav-logo"><a href="/"><img src="{{ 'logo.png' | asset_url }}"></a></li>
                {% assign linklist = linklists['main-menu'] %}
                {% for link in linklist.links %}
                  {% assign title = link.title | split: ';' %}
                  {% assign active = link.active %}
                  {% if product && link.type == 'collection_link' %}
                    {% assign active = false %}
                    {% for collection in product.collections %}
                      {% if active == false and collection.handle == link.object.handle %}
                        {% assign active = true %}
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                  <li class="{{ title[1] }} {% if active %}active{% endif %}"><a class="button" href="{{ link.url }}">{{ title[0] }}</a></li>
                {% endfor %}
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div id="main" class="container">
      <header>
        <div id="header" class="row">
          <div class="col-xs-6 col-md-4 col-md-offset-1">
            <nav>
              <ul class="header-menu nav nav-pills hidden">
                {% assign linklist = linklists['header-menu'] %}
                {% for link in linklist.links %}
                  {% assign title = link.title | split: ';' %}
                  <li class="{{ title[1] }} {% if link.active %}active{% endif %}">
                    <a href="{{ link.url }}">{{ title[0] }}</a>
                  </li>
                {% endfor %}
              </ul>
            </nav>
          </div>
          <div class="col-xs-6 col-md-5 col-md-offset-2">
            <nav class="pull-right">
              <ul class="header-menu nav nav-pills">
                  <li><a href="/cart">Warenkorb <span class="badge">{{ cart.item_count }}</span></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </header>

      <section class="{{ template | replace: '.', ' '}}">
        {{ content_for_layout }}
      </section>

      <footer>
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1">
            <ul id="footer-list">
              {% include 'footer_menu' with 'footer-shop-menu' %}
              {% include 'footer_menu' with 'footer' %}
              {% include 'footer_menu' with 'footer-info-menu' %}
            </ul>
          </div>
        </div>
      </footer>
    </div>

    {{ '//code.jquery.com/jquery-1.10.2.min.js' | script_tag }}
    {{ 'js_bootstrap.min.js' | asset_url | script_tag }}

    {{ 'jquery.fancybox.pack.js' | asset_url | script_tag }}
    {{ 'jquery.fancybox-thumbs.js' | asset_url | script_tag }}

    {{ 'api.jquery.js' | shopify_asset_url | script_tag }}

    <script type="text/javascript">
      $(document).ready(function() {
        $('#teaser .carousel').carousel().on('slide.bs.carousel', function(event) {
          $("#teaser-products ul").removeClass("active");
          $('#' + event.relatedTarget.id + '-product').addClass("active");
        });

        $('.fancybox').fancybox({
          openEffect: 'elastic',
          prevEffect: 'fade',
          nextEffect: 'fade',
          helpers: {
            thumbs: {
              width: 100,
              height: 100
            }
          }
        });

        $(".fancybox-launcher").on("click", function(){
          $(".fancybox").eq(0).trigger("click");
        });

       // $(".panel-heading").on("click", function(event){
       //   event.stopPropagation();
       //   console.log($(this).find('a'));
       // $(this).find('a').click();
       // });
       // $(".cart form").on('submit', function(event){
       //    $("[name='agb']:not(:checked)").each(function(){
       //      event.preventDefault();
       //      alert('Bitte akzetiere unsere AGBs');
       //    });
       // });

      }).on("scroll", function(){
        if ($(window).scrollTop() >= 50) {
          $('#menu').addClass('sticky');
        }
        else {
          $('#menu').removeClass('sticky');
        }
      });
    </script>

    {{ content_for_footer }}
  </body>
</html>
