<!DOCTYPE html>
<html>
  <head>
    <title>{% if template == "404" %}Page not found{% elsif template == 'index' %}{{ shop.name }}{% else %}{{ page_title }} - {{ shop.name }}{% endif %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page_description %}
    <meta name="description" content="{{ page_description }}">
    {% endif %}
    <meta name="author" content="{{ settings.meta_author }}">

    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png">
    <link rel="canonical" href="{{ canonical_url }}">

    <!--[if lt IE 9]>
      {{ 'js_html5shiv.js' | asset_url | script_tag }}
      {{ 'js_respond.min.js' | asset_url | script_tag }}
    <![endif]-->

    <!-- content_for_header start -->
    {{ content_for_header }}
    <!-- content_for_header end -->

    {{ 'css_bootstrap.min.css' | asset_url | stylesheet_tag }}
    {{ 'css_style.css' | asset_url | stylesheet_tag }}
  </head>
  <body>

    <div id="menu" class="hidden-xs">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <nav>
              <ul id="main-nav" class="nav nav-pills">
                <li id="nav-logo"><a href="/"><img src="{{ 'logo.png' | asset_url }}"></a></li>

                <li id="nav-about"><a class="button" href="/pages/about">About</a></li>

                <li id="nav-helmets"><a class="button" href="/collections/helmets">Helmets</a></li>
                <li id="nav-hands"><a class="button" href="/collections/hands">Hands</a></li>
                <li id="nav-pads"><a class="button" href="/collections/pads">Pads</a></li>
                <li id="nav-boots"><a class="button" href="/collections/boots">Boots</a></li>
                <li id="nav-kits"><a class="button" href="/collections/pm-kit">PM-Kit</a></li>

                <li id="nav-blog"><a class="button" href="/blogs/news">Blog</a></li>
                <li id="nav-contact"><a class="button" href="/pages/contact">Kontakt</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div id="main" class="container">
      <div id="header" class="row">
        <div class="col-xs-8 col-md-6 col-md-offset-1">
          <nav>
            <ul id="top-nav" class="nav nav-pills">
              <li><a id="homeIcon" href="/" class="hidden-xs">Home</a></li>
              <li><a href="/collections/all" class="hidden-xs">Shop</a></li>
              <li><a href="/pages/about-playmaker">About Playmaker</a></li>
              <li><a href="/pages/contact">Kontakt</a></li>

              <li><a href="/account/login">Login</a></li>
              <li><a href="/account/register">Sign Up</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-xs-4 col-md-3 col-md-offset-2">
          <nav class="pull-right">
            <ul id="top-nav" class="nav nav-pills">
              {% if cart.item_count != 0 %}
              <li><a href="/cart" title="Checkout">Checkout</a></li>
              {% endif %}
              <li><a href="/cart">C-Art ({{ cart.item_count }})</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <!-- content_for_layout start -->
      {{ content_for_layout }}
      <!-- content_for_layout end -->

      <div id="footer" class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <ul id="footer-list" class="reset">
            <li>
              <h5>Shop</h5>
              <ul id="footer-nav1" class="reset">
                <li><a href="/collections/helmets">Helmets</a></li>
                <li><a href="/collections/hands">Hands</a></li>
                <li><a href="/collections/pads">Pads</a></li>
                <li><a href="/collections/boots">Boots</a></li>
                <li><a href="/collections/pm-kit">PM-Kit</a></li>
              </ul>
            </li>
            <li>
              <h5>Anschrift</h5>
              <p>PLAYMAKER<br>
              Street<br>
              City
              </p>
            </li>
            <li>
              <h5>Informationen</h5>
              <ul id="footer-nav2" class="reset">
              <li id="nav-blog"><a class="button" href="/pages/about">About</a></li>
                <li id="nav-blog"><a class="button" href="/blogs/news">Blog</a></li>
                <li id="nav-contact"><a class="button" href="/pages/contact">Kontakt</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    {{ '//code.jquery.com/jquery-1.10.2.min.js' | script_tag }}
    {{ 'js_bootstrap.min.js' | asset_url | script_tag }}
    <script type="text/javascript">
      $(document).ready(function() {
        $('#teaser .carousel').carousel().on('slide.bs.carousel', function(event) {
          $("#teaser-products ul").removeClass("active");
          $('#' + event.relatedTarget.id + '-product').addClass("active");
        });
      }).on("scroll", function(){
        if ($(window).scrollTop() >= 100) {
          $('#menu').addClass('sticky');
        }
        else {
          $('#menu').removeClass('sticky');
        }
      });
    </script>
  </body>
</html>
