{% paginate article.comments by 50 %}
<div class="content-offset row">
  <div class="col-md-10 col-md-offset-1">
    <h2><a href="{{ blog.url }}">{{ blog.title }}</a></h2>

    <div class="media">
      <div class="media-body">
        <h1 class="media-heading">{{ article.title }}</h1>

        <p class="meta">
          <time pubdate datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%d. %B %Y' }}</time>,&nbsp;
          {% if article.comments_enabled? %}, <span>{{ article.comments_count }} {{ article.comments_count | pluralize: "Comment", "Comments" }},&nbsp;</span>{% endif %}
          {% if article.tags.size > 0 %}
            <span>Tags:</span>
            {% for tag in article.tags %}
              {% if collections[tag].all_products_count != "" %}
                {% assign collection = collections[tag] %}
              {% else %}
                <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
              {% endif %}
            {% endfor %}
          {% endif %}
          &nbsp;&nbsp;&nbsp;<span class="fb-like" data-href="{{ canonical_url }}" data-width="100" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></span>
        </p>

        <p>{{ article.content }}</p>

        <ul class="socials">
          <li>
            <span class="fb-like" data-href="{{ canonical_url }}" data-width="100" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></span>
          </li>
          <li>
            <span class="fb-share-button" data-href="{{ canonical_url }}" data-type="button"></span>
          </li>
          <li>
            <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ article.title }}" data-via="playmakers_shop" data-lang="de" data-count="none">Twittern</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </li>
        </p>
      </div>
    </div>
  </div>
</div>
{% endpaginate %}

{% include 'related_products' with collection %}
