{% paginate article.comments by 50 %}
<div class="content-offset row article">
  <div class="col-md-7 col-md-offset-1">
    <h2><a href="{{ blog.url }}">{{ blog.title }}</a></h2>

    <div class="media">
      <div class="media-body">
        <h1 class="media-heading">{{ article.title }}</h1>

        <p class="meta">
          <time pubdate datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%d. %B %Y' }}</time>,&nbsp;
          {% if article.tags.size > 0 %}
            <span>Tags:</span>
            {% for tag in article.tags %}
              {% if collections[tag].all_products_count != "" %}
                {% assign collection = collections[tag] %}
              {% else %}
                <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
              {% endif %}
            {% endfor %}
          {% endif %}
        </p>

        <p>{{ article.content }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 sidebar">
    {% include 'blog_sidebar' %}
  </div>
</div>

<div class="content-offset row">
  <div class="col-md-7 col-md-offset-1">
    <ul class="socials">
      <li>
        <a href="#add-comment">Kommentar hinzufügen</a>
      </li>
      <li>
        <span class="fb-like" data-href="{{ canonical_url }}" data-width="100" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></span>
      </li>
      <li>
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ article.title }}" data-via="playmakers_shop" data-lang="de" data-count="none">Twittern</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </li>
    </ul>
  </div>
</div>

<div class="content-offset row">
  <div class="col-md-10 col-md-offset-1">
    {% if article.comments_count > 0 %}
      <h3>Kommentare:</h3>
      {% if comment and comment.created_at %}
        <script>window.location.hash = '#{{ comment.id }}';</script>
      {% endif %}
      <ul class="comments media-list">
        {% for comment in article.comments %}
        <li id="{{ comment.id }}" class="media">
          <div class="media-body">
            <h4 class="media-heading">{{ comment.author }}</h4><small>{{ comment.created_at | date: "%d. %B %Y" }}</small>
            {{ comment.content }}
        </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if paginate.pages > 1 %}
      <div id="pagination">
        {{ paginate | default_pagination }}
      </div>
    {% endif %}
  </div>
</div>
{% endpaginate %}

{% include 'related_products' with collection %}

{% if blog.comments_enabled? %}
  <div class="content-offset row">
    <div id="add-comment" class="col-md-10 col-md-offset-1">
      {% form article %}
        <h3>Kommentar schreiben</h3>

        {% if form.errors %}
          <script>
            window.location.hash = '#add-comment';
          </script>
          <div class="errorForm feedback">
            <p>Da ist etwas schief gelaufen! Bitte achte darauf, dass sowohl Email-, als auch das Nachrichtenfeld ausgefüllt sind.</p>
          </div>
        {% endif %}

        {% if comment and comment.created_at %}
          <p class="successForm feedback">
            {% if blog.moderated? %}
            Dein Kommentar wurde gespeichert - vielen Dank! Wir werden ihn schnellst möglichst freischalten.
            {% else %}
            Dein Kommentar wurde gespeichert - vielen Dank!
            {% endif %}
          </p>
        {% else %}
          <div class="form-group">
            <label>Dein Name:</label>
            <input type="text" id="contactFormAuthor" name="comment[author]" value="{{ form.author }}"/>
          </div>
          <div class="form-group">
            <label>Deine Emailadresse:*</label>
            <input type="email" id="contactFormEmail" name="comment[email]" placeholder="deine@email.de" value="{{ form.email }}" />
          </div>
          <div class="form-group">
            <label>Nachricht:*</label><br/>
            <textarea class="form-control" rows="5" cols="75" id="contactFormMessage" name="comment[body]">{{ form.body }}</textarea>
          </div>
          <div class="form-group">
            <button type="submit" id="contactFormSubmit" class="btn btn-default">Abschicken</button>
          </div>
        {% endif %}
      {% endform %}
    </div>
  </div>
{% endif %}

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <ul class="pagination clearfix">
      {% if blog.previous_article %}
        <li>{{ '&larr; Vorheriger Beitrag' | link_to: blog.previous_article }}</li>
      {% endif %}
      {% if blog.next_article %}
        <li>{{ 'Nächster Beitrag &rarr;' | link_to: blog.next_article }}</li>
      {% endif %}
    </ul>
  </div>
</div>
