{% paginate blog.articles by 10 %}
<div class="content-offset row">
  <div class="col-md-10 col-md-offset-1">
    <h1>{{ blog.title }}</h1>

    {% for article in blog.articles %}
      <div class="media">
        <div class="media-body">
          <h2 class="media-heading"><a href="{{ article.url }}">{{ article.title }}</a></h2>

          <p class="meta">
            <time pubdate datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%B %d %Y' }}</time>
            {% if article.comments_enabled? %}, <span>{{ article.comments_count }} {{ article.comments_count | pluralize: "Comment", "Comments" }}</span>{% endif %}
            {% if article.tags.size > 0 %}
              <span>, Tags:</span>
              {% for tag in article.tags %}
                {% if collections[tag].all_products_count != "" %}
                  {% assign collection = collections[tag] %}
                {% else %}
                  <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
                {% endif %}
              {% endfor %}
            {% endif %}
          </p>

          <p>{{ article.excerpt_or_content | strip_html | truncatewords: 100 }} <a href="{{article.url }}">(hier geht es weiter)</a></p>
        </div>
      </div>
      <hr class="divider" />
    {% endfor %}

    {% include 'pagination' %}
  </div>
</div>
{% endpaginate %}
