<div class="content-offset row">
  <div class="col-md-10 col-md-offset-1">
    <h1>Warenkorb</h1>

    {% if cart.item_count > 0 %}
      <form action="/cart" method="post">
        <table class="table">
          <thead>
            <tr>
              <th>Artikel</th>
              <th>&nbsp;</th>
              <th>Preis</th>
              <th>Anzahl</th>
              <th>Gesamt</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            {% for item in cart.items %}
              <tr>
                <td>
                  <a href="{{ item.product.url | within: collections.all }}">
                    <img src="{{ item.product.featured_image.src | product_img_url: 'compact' }}" alt="{{ item.title | escape }}" />
                  </a>
                </td>
                <td>
                  <a href="{{ item.product.url | within: collections.all }}">
                    <h3>{{ item.vendor }} {{ item.product.title }}</h3>
                  </a>
                  {% if item.product.variants.size > 0 %}
                    {{ item.variant.title }}
                  {% endif %}
                </td>
                <td>{{ item.price | money }}</td>
                <td>
                  {{ item.quantity }}
                  <!-- <input type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" /> -->
                </td>
                <td>{{ item.line_price | money }}</td>
                <td>
                  <a href="/cart/change?line={{ forloop.index }}&quantity=0">Entfernen</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4">&nbsp;</td>
              <td>
                Gesamt:
              </td>
              <td>
                {{ cart.total_price | money }}
              </td>
            </tr>
          </tfoot>
        </table>
        <button type="submit" name="checkout"  class="pull-right btn btn-default">zur Kasse</button>
      </form>

    {% else %}
      <div>
        Der Warenkorb ist leer.
      </div>
    {% endif %}
  </div>
</div>

