{% if cart.item_count > 0 %}
  <form action="/cart" method="post" id="cart_form" novalidate>
    <h1>{{ 'cart.general.title' | t }}</h1>

    {% for item in cart.items %}
    <div class="cart__row" data-id="{{ item.id }}">
      <div class="grid">

        <div class="grid__item one-half" >
          <div class="grid">

            <div class="grid__item one-third large--one-quarter">
              <a href="{{ item.url | within: collections.all }}" class="cart-image">
                <img src="{{ item | img_url: 'medium' }}"  alt="{{ item.title | escape }}">
              </a>
            </div>

            <div class="grid__item two-thirds large--three-quarters">
              <a href="{{ item.url }}">
                {{ item.product.vendor }} {{ item.product.title }}
              </a>
              {% unless item.variant.title contains 'Default' %}
                <br>
                <small>{{ item.variant.vendor }} {{ item.variant.title }}</small>
              {% endunless %}

              {% if item.properties.size > 0 %}
              <p>
                {% for p in item.properties %}
                  {% unless p.last == blank %}
                    {{ p.first }}:

                    {% if p.last contains '/uploads/' %}
                      <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                    {% else %}
                      {{ p.last }}
                    {% endif %}

                    <br>
                  {% endunless %}
                {% endfor %}
              </p>
              {% endif %}
            </div>

          </div>
        </div>

        <div class="grid__item one-half details">
          <div class="grid">

            <div class="grid__item quantity large--hide medium--hide small--two-fifths small--show text-right">
              {{ item.quantity }} x
            </div>

            <div class="grid__item five-eighths small--hide text-right">
              <input type="number" class="quantity_selector" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0" data-id="{{ item.id }}">
            </div>

            <div class="grid__item two-eighths small--two-fifths text-right">
              <span class="h2 price">
                {% include 'price' with item.price %}
              </span>
            </div>

            <div class="grid__item one-eighth small--one-fifth text-right">
              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" data-id="{{ item.id }}" class="icon-fallback-text btn--secondary remove">
                <span class="icon icon-x" aria-hidden="true"></span>
                <span class="fallback-text">{{ 'cart.general.remove' | t }}</span>
              </a>
            </div>

          </div>
        </div>

      </div>
    </div>

    {% endfor %}

    <div class="cart__row">
      <div class="grid">

        <div class="grid__item text-right cart__total large--seven-twelfths  push--large--five-twelfths">
          <div class="cart-subtotal">
            {{ 'cart.general.subtotal' | t }}
            <span class="h1 cart-subtotal--price">
              {% include 'price' with cart.total_price %}
            </span>
            <div>
              {% capture shipping_key %}{% if cart.total_price < 10000 %}cart.general.shipping{% else %}cart.general.shipping_free{% endif %}{% endcapture %}
              {{ 'cart.general.mwst' | t }}{{ shipping_key | t }}
            </div>
          </div>

          <div class="cart-accept">
            <input id="accept" type="checkbox"> {{ 'cart.general.accept_html' | t }}
          </div>

          <input type="submit" name="update" class="btn--secondary update-cart" value="{{ 'cart.general.update' | t }}">
          <a href="?continue" class="btn--secondary cart-continue">{{ 'cart.general.continue' | t }}</a>
          <button type="submit" name="checkout" class="btn">
            <span class="icon icon-cart"></span>
            {{ 'cart.general.checkout' | t }}
          </button>
        </div>

        <div class="grid__item large--five-twelfths pull--large--seven-twelfths">
          {% if settings.cart_notes_enable %}
            <label for="cartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
            <textarea name="note" class="input-full" id="cartSpecialInstructions">{{ cart.note }}</textarea>
          {% else %}
            <div class="h6">{{ 'layout.footer.pay_save' | t }}</div>
            <ul class="legal-links inline-list payment-icons">
              {% for type in shop.enabled_payment_types %}
                <li>
                  <span class="icon-fallback-text">
                    <span class="icon icon-{{ type }}" aria-hidden="true"></span>
                    <span class="fallback-text">{{ type | replace: '_',' ' }}</span>
                  </span>
                </li>
              {% endfor %}
              <li class="ec_vorkasse">
                <img src="{{ 'layout.footer.pay_save_ec_img' | t | asset_url }}" aria-hidden="true" alt="{{ 'layout.footer.pay_save_ec_alt' | t }}">
              </li>
            </ul>
          {% endif %}
        </div>

      </div>
    </div>
  </form>

{% else %}

  <h2>{{ 'cart.general.empty' | t }}</h2>
  <p>{{ 'cart.general.continue_browsing_html' | t }}</p>

{% endif %}
