{% assign cpage_title = "Warenkorb" %}
{% assign collection = collections['american-football'] %}

<div class="content-offset row">
  <div class="col-md-10 col-md-offset-1">
    <h1>Warenkorb</h1>

    {% if cart.item_count > 0 %}
      <form action="/cart" method="post">
        <table class="table">
          <thead>
            <tr>
              <th>Artikel</th>
              <th>&nbsp;</th>
              <th>Preis</th>
              <th>Anzahl</th>
              <th>Gesamt</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            {% for item in cart.items %}
              <tr class="id{{ item.product.id }} variant{{ item.variant.id }}">
                <td>
                  <a href="{{ item.product.url | within: collections.all }}">
                    <img src="http://playmakers-app.herokuapp.com/products/{{ item.product.id }}/variants/{{ item.variant.id }}/image.png?shop=playmaker.myshopify.com&url=http:{{ item.product.featured_image.src | product_img_url: 'compact' }}" alt="{{ item.title | escape }}" />
                  </a>
                </td>
                <td>
                  <a href="{{ item.product.url | within: collections.all }}">
                    <h2>{{ item.vendor }} {{ item.product.title }}</h2>
                  </a>
                  {% if item.product.variants.size > 0 %}
                    {% if item.product.options[0] %}{{ item.product.options[0] }}: {{ item.variant.option1 }} {% endif %}
                    {% if item.product.options[1] %}/ {{ item.product.options[1] }}: {{ item.variant.option2 }} {% endif %}
                    {% if item.product.options[2] %}/ {{ item.product.options[2] }}: {{ item.variant.option3 }} {% endif %}
                  {% endif %}
                </td>
                <td>{{ item.price | money }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.line_price | money }}</td>
                <td>
                  <a href="/cart/change?line={{ forloop.index }}&quantity=0">Entfernen</a>
                </td>
              </tr>
              {% if item.product.type == "Helme" %}
                {% assign collection_name = 'zubehor-' | append: item.product.handle %}
                {% assign collection = collections[collection_name] %}
              {% elsif item.product.type == "Schulterpolster" %}
                {% assign collection = collections['zubehor-pads'] %}
              {% endif %}
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4">&nbsp;</td>
              <td>
                Gesamt:
              </td>
              <td>
                {{ cart.total_price | money }}
              </td>
            </tr>
          </tfoot>
        </table>
        <div class="checkout_buttons">
          <button type="submit" name="checkout">zur Kasse</button>
          oder
          <div class="additional-checkout-buttons">
            {{ content_for_additional_checkout_buttons }}
          </div>
        </div>
      </form>

    {% else %}
      <div>
        Der Warenkorb ist leer.
      </div>
    {% endif %}
  </div>
</div>


{% include 'related_products' with collection %}
