{% assign product_type = collection.all_types | first | downcase %}

<div class="{{ product_type }} row">
  <div class="header col-md-9">
    {% assign parent_collection_name = 'teaser-' | append: collection.handle %}
    {% assign parent_collection = collections[parent_collection_name] %}
    <img src="{{ parent_collection.image.src | collection_img_url: 'original' }}" alt="{{ collection.title | escape  }}" class="img-responsive">
    <h1>{{ collection.title }}</h1>
  </div>
  <div class="description col-md-3">
    {{ collection.description }}
  </div>
</div>

<div class="{{ product_type }} row">
  <div class="products col-md-10 col-md-offset-1 ">
    <ul>
      {% for product in collection.all_products %}
      <li>
        <div class="more-head">
          <a href="{{ product.url }}"><img src="{{ 'product_border.png' | asset_url }}"
               alt="{{ product.title | escape  }}"
               style="background-image:url('{{ product.featured_image | product_img_url: 'compact' }}')"
               class="product-border"></a>
        </div>
        <div class="more-body">
          <h5>{{ product.vendor }} {{ product.title }}</h5>
          <a href="{{ product.url }}"> >> Details</a>
          <a href="{{ product.url }}" class="price">{{ product.price | money }}</a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <hr class="dots">
  </div>
</div>
