{% include 'l_setup' %}
{% include 'slider' %}

{% if settings.home_featured_row1_enable %}
  <hr>
  {% assign featured_row = settings.home_featured_row1 %}
  {% assign row_limit_setting = settings.home_featured_row1_number %}
  {% include 'featured-row' %}
  <hr>
{% endif %}

<div class="section-header partners">
  <p class="h1 section-header__left">{% include 'l' with 'blogs.sidebar.mediapartner' %}</p>
  <div class="section-header__right"></div>
</div>

<div class="grid-uniform partners" >
  <div class="grid__item one-third">
    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        <a href="http://www.football-aktuell.de/cgi-bin/ehuddle.pl" target="_blank" title="E-Huddle">
          <img src="{{ 'partner-ehuddle.png' | asset_url }}" alt="E-Huddle">
        </a>
      </div>
    </div>
  </div>
  <div class="grid__item one-third">
    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        <a href="http://www.football-aktuell.de" target="_blank" title="Football Aktuell">
          <img src="{{ 'partner-football-aktuell.png' | asset_url }}" alt="Football Aktuell">
        </a>
      </div>
    </div>
  </div>
  <div class="grid__item one-third">
    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        <a href="http://www.huddle-verlag.de" target="_blank" title="Huddle">
          <img src="{{ 'partner-huddle.png' | asset_url }}" style="padding-top: 25px" alt="Huddle">
        </a>
      </div>
    </div>
  </div>
</div>

<hr class="partners">

{% assign blog_name = locale_prefix | append: 'news' %}
{% assign blog = blogs[blog_name] %}
<div class="articles fullsize">
  <div class="section-header">
      <p class="h1 section-header__left">{% include 'lt' with 'homepage.featured_articles.heading' %}{{ lk | t: title: blog.title }}</p>
      <div class="section-header__right">
        <a href="{{ blog.url }}">{% include 'l' with 'homepage.featured_articles.more' %} &rsaquo;</a>
      </div>
  </div>
  <div class="grid-uniform article">
    {% for article in blog.articles limit: 3 %}
      {% assign grid_item_width = 'large--one-third medium--one-whole small--one-whole' %}
      {% include 'article-grid-item' %}
    {% endfor %}
  </div>
</div>

<hr>

{% assign blog_name = locale_prefix | append: 'about' %}
{% assign blog = blogs[blog_name] %}
<div class="section-header">
    <h3 class="h1 section-header__left">{{ blog.title }}</h3>
    <div class="section-header__right"></div>
</div>
<div class="grid-uniform article-about">
  {% for article in blog.articles limit: 4 %}
    <div class="grid__item large--one-quarter medium--one-half small--one-whole">
      <div class="product-grid-image">
        <div class="product-grid-image--centered">
          {% assign image_alt = article.title | escape %}
          {{ article | img_url: 'medium' | img_tag: image_alt }}
        </div>
      </div>

      <h4>{{ article.title }}</h4>

      <div class="article-item--text">
        {{ article.content }}
      </div>
    </div>
  {% endfor %}
</div>

<hr>

{% include 'vendors' %}
