<div class="banner2 grid-uniform fullsize">
  <div class="img">
    <img src="{{ 'banner2.jpg' | asset_url }}" alt="Mario Nowak, Ivo Schönberner, Kerim Homri - Europameister 2014">
  </div>
  <div class="teaser">
    <div class="iwrapper">
      <p class="header">
        Bist du bereit für die Saison 2015?
      </p>
      <p>
        Booste deinen Saisonstart mit neuem Equipment!
      </p>
      <ul>
        <li><a href="/collections/american-football-helme" class="btn button">Footballhelm kaufen &gt;</a></li>
        <li><a href="/collections/american-football-schulterpolster" class="btn button">Schulterpolster kaufen &gt;</a></li>
      </ul>
    </div>
  </div>
</div>

{% if settings.home_featured_row1_enable %}
  <hr>
  {% assign featured_row = settings.home_featured_row1 %}
  {% assign row_limit_setting = settings.home_featured_row1_number %}
  {% include 'featured-row' %}
  <hr>
{% endif %}

<div class="section-header partners">
  <p class="h1 section-header__left">Unsere Mediapartner</p>
  <div class="section-header__right"></div>
</div>

<div class="grid-uniform partners" >
  <div class="grid__item one-third">
    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        <a href="http://www.football-aktuell.de/cgi-bin/ehuddle.pl" target="_blank" title="E-Huddle">
          <img src="{{ 'partner-ehuddle.png' | asset_url }}" alt="E-Huddle">
        </a>
      </div>
    </div>
  </div>
  <div class="grid__item one-third">
    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        <a href="http://www.football-aktuell.de" target="_blank" title="Football Aktuell">
          <img src="{{ 'partner-football-aktuell.png' | asset_url }}" alt="Football Aktuell">
        </a>
      </div>
    </div>
  </div>
  <div class="grid__item one-third">
    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        <a href="http://www.huddle-verlag.de" target="_blank" title="Huddle">
          <img src="{{ 'partner-huddle.png' | asset_url }}" style="padding-top: 25px" alt="Huddle">
        </a>
      </div>
    </div>
  </div>
</div>

<hr class="partners">

<div class="articles fullsize">
  <div class="section-header">
      <p class="h1 section-header__left">{{ 'homepage.featured_articles.heading' | t: title: blogs['news'].title }}</p>
      <div class="section-header__right">
        <a href="{{ blogs['news'].url }}">{{ 'homepage.featured_articles.more' | t }} &rsaquo;</a>
      </div>
  </div>

  <div class="grid-uniform article">
    {% for article in blogs['news'].articles limit: 3 %}
      {% assign grid_item_width = 'large--one-third medium--one-whole small--one-whole' %}
      {% include 'article-grid-item' %}
    {% endfor %}
  </div>
</div>

<hr>

<div class="section-header">
    <p class="h1 section-header__left">{{ 'homepage.about.heading' | t }}</p>
    <div class="section-header__right"></div>
</div>

<div class="grid-uniform article-about">
  {% for article in blogs['about'].articles limit: 4 %}
    <div class="grid__item large--one-quarter medium--one-half small--one-whole">
      <div class="product-grid-image">
        <div class="product-grid-image--centered">
          {{ article.excerpt }}
        </div>
      </div>

      <h4>{{ article.title }}</h4>

      <div class="atricle-item--text">
        {{ article.content }}
      </div>
    </div>
  {% endfor %}
</div>

<hr>

<div class="section-header">
  <p class="h1 section-header__left">{{ 'homepage.vendors.heading' | t }}</p>
  <div class="section-header__right"></div>
</div>

<div class="grid-uniform vendors">
  {% assign vendors = 'Russel Athletic,Bike,Cutters,Nike,Rawlings,Adidas,Riddell,Under Armour,Warrior,Xenith' | split: ',' %}
  {% for product_vendor in vendors %}
    <div class="grid__item large--one-fifth medium--one-quarter small--one-third">
      <div class="product-grid-image">
        <div class="product-grid-image--centered">
          <a href="{{ product_vendor | url_for_vendor }}" title="{{ product_vendor }}">
            {% capture image_name %}vendor_{{ product_vendor | handleize }}.png{% endcapture %}
            <img class="grayscale" src="{{ image_name | asset_url }}" alt="{{ product_vendor }}">
          </a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
