<!-- <div class="flexslider fullsize" id="heroSlider">
  <ul class="slides">
    <li>
      <a href="#" class="slide-link">
        <video autoplay autobuffer loop muted poster="{{ 'slide_1.jpg' | asset_url }}" id="bgvid">
          <source src="{{ 'slide_1.webm' | asset_url }}" type="video/webm">
          <source src="{{ 'slide_1.mp4' | asset_url }}" type="video/mp4">
        </video>
      </a>
    </li>
  </ul>
</div> -->
<div class="banner grid-uniform fullsize">
  <div class="grid__item one-half push--large--one-half push--medium--one-half small--one-whole text-right banner-img">
    <img src="{{ 'banner.jpg' | asset_url }}" alt="enrico martini, swarco raiders/deutsche nationalmannschaft">
  </div>
  <div class="grid__item one-half pull--large--one-half pull--medium--one-half small--one-whole main">
    <span>
      <p>
        Playmakers Football arbeitet eng mit den <strong>besten Spielern Europas</strong> zusammen, um dir die <strong>besten Insights</strong> rund um deine Ausrüstung zu bieten.
      </p>
      <form class="medium--hide" action="http://play-makers.us8.list-manage.com/subscribe/post?u=f8ccf2679d516fd2e247579b3&id=22a6088452" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form" target="_blank" novalidate>
        <label for="mce-EMAIL">Sicher dir ab jetzt alle <strong>Produktvideos und Equipment-Tipps</strong> per kostenlosem Newsletter.</label>
        <ul class="inline-list">
          <li>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Deine Emailaddresse" required>
            <div style="position: absolute; left: -51234px;"><input type="text" name="b_f8ccf2679d516fd2e247579b3_22a6088452" value=""></div>
          </li>
          <li>
            <input type="submit" value="Ich bin dabei!" name="subscribe" id="mc-embedded-subscribe" class="btn button">
          </li>
        </ul>
      </form>
    </span>
  </div>
  <div class="grid__item one-whole large--hide small--hide main">
    <form action="http://play-makers.us8.list-manage.com/subscribe/post?u=f8ccf2679d516fd2e247579b3&amp;id=22a6088452" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form" target="_blank" novalidate>
      <label for="mce-EMAIL">Sicher dir ab jetzt alle <strong>Produktvideos und Equipment-Tipps</strong> per kostenlosem Newsletter.</label>
      <ul class="inline-list">
        <li>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Deine Emailaddresse" required>
          <div style="position: absolute; left: -51234px;"><input type="text" name="b_f8ccf2679d516fd2e247579b3_22a6088452" value=""></div>
        </li>
        <li>
          <input type="submit" value="Ich bin dabei!" name="subscribe" id="mc-embedded-subscribe" class="btn button">
        </li>
      </ul>
    </form>
  </div>
</div>

{% if settings.home_featured_row1_enable %}
  <hr>
  {% assign featured_row = settings.home_featured_row1 %}
  {% assign row_limit_setting = settings.home_featured_row1_number %}
  {% include 'featured-row' %}
  <hr>
{% endif %}

<div class="articles fullsize">
  <div class="section-header">
      <p class="h1 section-header__left">{{ 'homepage.featured_articles.heading' | t: title: blogs['news'].title }}</p>
      <div class="section-header__right">
        <a href="{{ blogs['news'].url }}">{{ 'homepage.featured_articles.more' | t }} &rsaquo;</a>
      </div>
  </div>

  <div class="grid-uniform article">
    {% for article in blogs['news'].articles limit: 3 %}
      {% assign grid_item_width = 'large--one-third medium--one-whole small--one-whole' %}
      {% include 'article-grid-item' %}
    {% endfor %}
  </div>
</div>

<hr>

<div class="section-header">
    <p class="h1 section-header__left">Das ist Playmakers Football</p>
    <div class="section-header__right"></div>
</div>

<div class="grid-uniform article-about">
  {% for article in blogs['about'].articles limit: 4 %}
    <div class="grid__item large--one-quarter medium--one-half small--one-whole">
      <div class="product-grid-image">
        <div class="product-grid-image--centered">
          {{ article.excerpt }}
        </div>
      </div>

      <h4>{{ article.title }}</h4>

      <div class="atricle-item--text">
        {{ article.content }}
      </div>
    </div>
  {% endfor %}
</div>

<hr>

<div class="section-header">
  <p class="h1 section-header__left">Unsere Equipment Partner</p>
  <div class="section-header__right"></div>
</div>

<div class="grid-uniform vendors">
  {% assign vendors = 'Bike,Cutters,Nike,Rawlings,Riddell,Under Armour,Warrior,Xenith' | split: ',' %}
  {% for product_vendor in vendors %}
    <div class="grid__item large--one-quarter  medium--one-quarter small--one-third">
      <div class="product-grid-image">
        <div class="product-grid-image--centered">
          <a href="{{ product_vendor | url_for_vendor }}" title="{{ product_vendor }}">
            {% capture image_name %}vendor_{{ product_vendor | handleize }}.png{% endcapture %}
            <img class="grayscale" src="{{ image_name | asset_url }}" alt="product_vendor">
          </a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
