<style>
  @font-face {
      font-family: 'playmaker_3regular';
      src: url('//cdn.shopify.com/s/files/1/0240/1531/t/5/assets/playmaker_3-webfont.eot');
      src: url('//cdn.shopify.com/s/files/1/0240/1531/t/5/assets/playmaker_3-webfont.eot?#iefix') format('embedded-opentype'),
           url('//cdn.shopify.com/s/files/1/0240/1531/t/5/assets/playmaker_3-webfont.woff') format('woff'),
           url('//cdn.shopify.com/s/files/1/0240/1531/t/5/assets/playmaker_3-webfont.ttf') format('truetype'),
           url('//cdn.shopify.com/s/files/1/0240/1531/t/5/assets/playmaker_3-webfont.svg#playmaker_3regular') format('svg');
      font-weight: normal;
      font-style: normal;
  }
  @media print {
    body {
      margin: 0;
      padding: 0;
      background-color: #FAFAFA;
    }

    * {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
    }

    .slip {
      margin-top: -18mm;
      margin-left: -5mm;
    }
  }

  .slip {
    width: 105mm;
    height: 148mm;
    border: 1px solid black;
    background-image: url(http://cdn.shopify.com/s/files/1/0240/1531/files/bg.png?13893);
    background-size: 100% auto;
  }

  .slip p {
    line-height: 7mm;
    margin: 0;
    padding: 0;
    font-size: 5mm;
    padding-bottom: 3mm;
    font-family: 'playmaker_3regular';
    overflow: hidden;
  }

  .sender {
    height: 60mm;
    margin-top: 15mm;
    margin-left: 10mm;
    width: 45mm;
  }

  .recipient {
    height: 75mm;
    width: 45mm;
    margin-left: 10mm;
  }

  .printer-preview-content {
    padding: 0px;
  }

 .rotate {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    position: relative;
 }

 .recipient .rotate {
   top: 30mm;
 }

.sender .rotate {
  top: 10mm;
  width: 55mm;
  left: -5mm;
 }
</style>
<div class="slip">
    <div class="recipient">
        <div class="rotate">
          <p>{{ shipping_address.name }}<br>
          {{ shipping_address.street }}<br>
          {{ shipping_address.zip | upcase }} {{ shipping_address.city | upcase}}<br>
          {{ shipping_address.country | upcase}}</p>
        </div>
    </div>
    <div class="sender">
        <div class="rotate">
            <p>{{ shop.name }}</br>
            {{ shop.address }}<br>
           {{ shop.zip | upcase }} {{ shop.city | upcase}}<br>
          {{ shop.country }}</p>
        </div>
    </div>
</div>
