{{ 'css_style.css' | asset_url | stylesheet_tag }}

<style>
  .shop-address {
    text-decoration: underline;
    font-size: 9px;
  }
</style>

<table width="100%">
<tr>
  <td class="shop-address">
    PM 24 Trading UG (haftungsbeschränkt) | {{ shop.address }} | {{ shop.zip | upcase }} {{ shop.city }}
  </td>
  <td align="right">
    {{ 'order_logo.png' | asset_url | img_tag }}
  </td>
</tr>
</table>
<br/>
<div>
  <strong>{{ shipping_address.name }}</strong><br/>
  {% if shipping_address.company %}
    {{ shipping_address.company }}<br/>
  {% endif %}
  {{ shipping_address.street }}<br/>
  {{ shipping_address.zip | upcase }} {{ shipping_address.city }}<br/>
</div>

<table width="100%">
<tr>
  <td align="right">Rechnungsdatum:&nbsp;</td>
  <td align="right">{{ created_at | date: "%d.%m.%Y" }}</td>
</tr>
<tr>
  <td align="right">Liefer- bzw. Leistungsdatum:&nbsp;</td>
  <td align="right">{{ "now" | date: "%d.%m.%Y" }}</td>
</tr>
<tr>
  <td align="right">Rechnungs-Nr.:&nbsp;</td>
  <td align="right">{{ order_name }}</td>
</tr>
</table>

<h3>Vielen Dank für deine Bestellung!</h3>

{% if shipping_address %}
<h4>Lieferung an:</h4>

<div>
  <strong>{{ shipping_address.name }}</strong><br/>
  {% if shipping_address.company %}
    {{ shipping_address.company }}<br/>
  {% endif %}
  {{ shipping_address.street }}<br/>
  {{ shipping_address.zip | upcase }} {{ shipping_address.city }}<br/>
</div>
{% endif %}

<br/>
<br/>

<table width="100%">
  <thead>
    <tr>
      <th><strong>Bezeichnung</strong></th>
      <th><strong>Menge</strong></th>
      <th align="center"><strong>Einzel/&euro;</strong></th>
      <th align="center"><strong>Gesamt/&euro;</strong></th>
    </tr>
    <tr>
      <td colspan="4"><hr></td>
    </tr>
  </thead>
  <tbody>
    {% for line_item in line_items %}
      <tr>
        <td>{{ line_item.title }}</td>
        <td>{{ line_item.quantity }} Stück</td>
        <td align="right">{{ line_item.price | money }}</td>
        <td align="right">{{ line_item.line_price | money }}</td>
      </tr>
    {% endfor %}

    <tr>
      <td colspan="4">&nbsp;</td>
    </tr>

    {% for discount in discounts %}
      <tr>
        <td colspan="3" align="right">Gutscheincode '{{ discount.code }}'&nbsp;</td>
        <td align="right"> - {{ discount.savings | money }}</td>
      </tr>
    {% endfor %}
    <tr>
      <td colspan="3" align="right">Summe netto&nbsp;</td>
      <td align="right">{{ subtotal_price | money }}</td>
    </tr>
    {% if shipping_address %}
      <tr>
        <td colspan="3" align="right">Versandkosten&nbsp;</td>
        <td align="right">{{ shipping_price | money }}</td>
      </tr>
    {% endif %}
    <tr>
      <td colspan="3" align="right">Umsatzsteuer 19%&nbsp;</td>
      <td align="right">{{ tax_price | money }}</td>
    </tr>
    <tr>
      <td colspan="3" align="right"><strong>Rechnungsbetrag</strong>&nbsp;</td>
      <td align="right"><strong>{{ total_price | money }}</strong></td>
    </tr>
  </tbody>
</table>

<br>
<br>

Der Rechnungsbetrag wurde per {{ transactions.first.gateway | payment_method  }} beglichen.
