{% include 'l_setup' %}
<div class="content-offset row">
  <div class="col-md-10 col-md-offset-1">
    {% form 'contact' %}
      <h1>{{ page.title }}</h1>
      <p>{{ page.content | replace: '[produkt]', form.product }}</p>

      {% if form.posted_successfully? %}
        <div class="successForm feedback">
          <p>{{ 'pages.preorder.description_html' | t: form_product: form.product }}</p>
        </div>
      {% else %}
        <div class="form-group">
          <input type="hidden" name="contact[product]" value="Vorbestellung für: {{ form.product }}"/>
          <input type="hidden" name="contact[body]" value="{{ form.body }}"/>
        </div>
        <div class="form-group">
          <label>{{ 'pages.preorder.name' | t }}</label>
          <input type="text" id="contactFormName" name="contact[name]" value="{{ form.name }}"/>
        </div>
        <div class="form-group">
          <label>{{ 'pages.preorder.email' | t }}*</label>
          <input type="email" id="contactFormEmail" name="contact[email]" value="{{ form.email }}" required />
        </div>

        <div class="form-group">
          <br>
          <button type="submit" id="contactFormSubmit" class="btn btn-default">{{ 'pages.preorder.submit' | t }}</button>
        </div>
      {% endif %}
    {% endform %}
  </div>
</div>
