<div class="content-offset row">
  <div class="col-md-10 col-md-offset-1">
    {% form 'contact' %}
      <h1>{{ page.title }}</h1>
      <p>{{ page.content | replace: '[produkt]', form.product }}</p>

      {% if form.errors %}
        <div class="errorForm feedback">
          <p>Da ist etwas schief gelaufen! Bitte achte darauf, dass sowohl Email-, als auch das Nachrichtenfeld ausgefüllt sind.</p>
        </div>
      {% endif %}

      {% if form.posted_successfully? %}
        <div class="successForm feedback">
          <p>Danke für deine Vorbestellung. Wir benachrichtigen dich sobald du <strong>{{ form.product }}</strong> wieder bei Playmakers Football bestellen kannst.</p>
        </div>
      {% else %}
        <div class="form-group">
          <input type="hidden" name="contact[product]" value="Vorbestellung für: {{ form.product }}"/>
          <input type="hidden" name="contact[body]" value="Variant ID: {{ form.body }}"/>
        </div>
        <div class="form-group">
          <label>Dein Name:</label>
          <input type="text" id="contactFormName" name="contact[name]" value="{{ form.name }}"/>
        </div>
        <div class="form-group">
          <label>Deine Emailadresse:*</label>
          <input type="email" id="contactFormEmail" name="contact[email]" value="{{ form.email }}" required />
        </div>

        <div class="form-group">
          <br>
          <button type="submit" id="contactFormSubmit" class="btn btn-default">unverbindlich Vorbestellen</button>
        </div>
      {% endif %}
    {% endform %}
  </div>
</div>
