<div id="product" class="row {{ product.type | downcase }}" itemscope itemtype="http://schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
  <meta itemprop="image" content="{{ product.featured_image.src | product_img_url: 'grande' }}" />

  <div class="col-md-10 col-md-offset-1">
    <form action="/cart/add" method="post" enctype="multipart/form-data">
      <div class="row">
        <div id="product-photo-container" class="col-md-5">
          <a class="gallery" href="{{ product.featured_image.src | product_img_url: 'original' }}" rel="gallery">
            <img src="{{ product.featured_image.src | product_img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}" class="img-responsive"/>
          </a>
        </div>
        <div class="col-md-1 thumbs">
          <ul id="product-photo-thumbs" class="reset">
            {% for image in product.images offset:1 limit:3 %}
              <li class="product-photo-thumb">
                <a class="gallery" href="{{ image.src | product_img_url: 'original' }}" rel="gallery">
                  <img src="{{ image.src | product_img_url: 'compact' }}" alt="{{ image.alt | escape }}" class="thumbnail img-responsive" />
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-md-6">
          <h1 itemprop="name">{{ product.title }} <small>{{ product.vendor }}</small></h1>

          <hr>

          <ul class="reset">
            {% for option in product.options %}
              <li>
                <div>{{ option }}</div>
                <select class="product-select {{ option }}" name="{{ option }}"></select>
              <li>
            {% endfor %}
          </ul>

          {% for variant in product.variants %}
            <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
          {% endfor %}

          <hr>

          <div id="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
            {% if product.available %}
            <link itemprop="availability" href="http://schema.org/InStock" />
            {% else %}
            <link itemprop="availability" href="http://schema.org/OutOfStock" />
            {% endif %}
            <p>
              {% if product.compare_at_price > product.price %}
              <span class="product-price on-sale" itemprop="price">{{ product.price | money }}</span>&nbsp;<s class="product-compare-price">{{ product.compare_at_price_max | money }}</s>
              {% else %}
              <span class="product-price" itemprop="price">{{ product.price | money }}</span>
              {% endif %}
            </p>
          </div>

          <div id="product-add">
            <input type="submit" name="add" id="add" value="Add to cart">
          </div>

        </div>
      </div>
    </form>

    <div id="product" class="row">
      <div class="col-md-12" itemprop="description">
        {{ product.description }}
      </div>
    </div>
  </div>
</div>
<script>
   var selectCallback = function(variant, selector) {
      if (variant) {
        if (variant.available) {

          // Selected a valid variant that is available.
          $('#add').removeClass('disabled').removeAttr('disabled').val('Add to Cart').fadeTo(200,1);

          // If item is backordered yet can still be ordered, we'll show special message.
          if (variant.inventory_management && variant.inventory_quantity <= 0) {
            $('#selected-variant').html({{ product.title | json }}{% unless hide_default_title %} + ' - ' + variant.title{% endunless %});
            $('#backorder').removeClass("hidden");
          } else {
            $('#backorder').addClass("hidden");
          }

        } else {
          // Variant is sold out.
          $('#backorder').addClass('hidden');
          $('#add').val('Sold Out').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
        }

        // Whether the variant is in stock or not, we can update the price and compare at price.
        if ( variant.compare_at_price > variant.price ) {
          $('#product-price').html('<span class="product-price on-sale">'+ Shopify.formatMoney(variant.price, "{{ shop.money_format }}") +'</span>'+'&nbsp;<s class="product-compare-price">'+Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}")+ '</s>');
        } else {
          $('#product-price').html('<span class="product-price">'+ Shopify.formatMoney(variant.price, "{{ shop.money_format }}") + '</span>' );
        }

      } else {
        // variant doesn't exist.
        $('#backorder').addClass('hidden');
        $('#add').val('Unavailable').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
      }
    };

    new Shopify.OptionSelectors('product-select', { product: {{ product | json }}, onVariantSelected: selectCallback });

    // Add label if only one product option and it isn't 'Title'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
    {% endif %}

    // Auto-select first available variant on page load.
    {% assign found_one_in_stock = false %}
    {% for variant in product.variants %}
      {% if variant.available and found_one_in_stock == false %}
        {% assign found_one_in_stock = true %}
        {% for option in product.options %}
        $('.single-option-selector:eq({{ forloop.index0 }})').val({{ variant.options[forloop.index0] | json }}).trigger('change');
        {% endfor %}
      {% endif %}
    {% endfor %}
</script>
