{% assign cpage_title = product.title | append: " " | append: product.type | append: " von " | append: product.vendor %}
{% capture cpage_description %}American Football {{ product.type }} {{ product.title }} von {{ product.vendor }}. {% endcapture %}

<div class="{{ product.type | downcase }} content-offset row" itemscope itemtype="http://schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
  <meta itemprop="image" content="{{ product.featured_image.src | product_img_url: 'grande' | replace: '//cdn', 'http://cdn' | replace: 'http:http://', 'http://' | remove: 'https:' }}" />

  <div class="col-md-10 col-md-offset-1">
    <form action="/cart/add" method="post" enctype="multipart/form-data">
      <div class="row">
        <div id="product-photo-container" class="col-md-5">
          {% assign alt = product.featured_image.alt | escape | replace: product.title %}
          <a class="fancybox" href="{{ product.featured_image.src | product_img_url: 'original' }}" title="{{ product.vendor }} {{ product.title }} {{ alt }}" rel="gallery">
            <img src="{{ product.featured_image.src | product_img_url: 'grande' }}" alt="{{ product.vendor }} {{ product.title }} {{ alt }}" class="img-responsive"/>
          </a>
          <div class="fb-like" data-href="{{ canonical_url }}" data-layout="button_count" data-action="recommend" data-show-faces="false" data-share="true"></div>
        </div>
        <div class="col-md-1 thumbs">
          <ul id="product-photo-thumbs" class="list-unstyled">
            {% for image in product.images offset:1 %}
              {% if forloop.index < 4 %}
                {% assign class = "" %}
              {% else %}
                {% assign class = "hidden" %}
              {% endif %}
              <li class="product-photo-thumb {{ class }}">
                {% assign alt = image.alt | escape | replace: product.title %}
                <a class="fancybox" href="{{ image.src | product_img_url: 'original' }}" title="{{ product.vendor }} {{ product.title }} {{ alt }}" rel="gallery">
                  <img src="{{ image.src | product_img_url: 'compact' }}" alt="{{ product.vendor }} {{ product.title }} {{ alt }}" class="thumbnail img-responsive" />
                </a>
              </li>
              {% if forloop.index == 4 %}
                <li class="product-photo-thumb">
                  <a class="fancybox-launcher" href="#">mehr...</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="col-md-6">
          <div class="title">
            <h2 itemprop="brand">{{ product.vendor }}</h2>
            <h1 itemprop="name">{{ product.title }}</h1>
            {% comment %}<span itemprop="category">{{ product.type }}</span>{% endcomment %}
          </div>

          {% if product.variants.size > 1 %}
            <hr>
          {% endif %}

          <ul id="options" class="list-unstyled list-inline">
            <li id="variants">
              <label for="id">Optionen</label>
              <select id="product-select" class="form-control" name="id">
                {% for variant in product.variants %}
                  <option value="{{ variant.id }}">{{ variant.title }}</option>
                  {% capture product_variants %}
                    {{ product_variants }}
                    addVariant({
                      id: {{variant.id}},
                      price: '{{variant.price | money}}',
                      options: {
                        {% if product.options[0] %} {{product.options[0] | handleize}}: '{{variant.option1}}'{% endif %}
                        {% if product.options[1] %},{{product.options[1] | handleize}}: '{{variant.option2}}'{% endif %}
                        {% if product.options[2] %},{{product.options[2] | handleize}}: '{{variant.option3}}'{% endif %}
                      },
                      available: {{variant.available}}
                    });
                  {% endcapture %}

                {% endfor %}
                {% if item.product.variants.size < 1 %}
                  <option value="{{ product.id }}">{{ product.vendor }} {{ product.title }}</option>
                {% endif %}
              </select>
            </li>
            {% for option in product.options %}
              <li>
                <label for="{{ option | handleize}}">{{ option }}</label>
                <select class="{{ option | handleize }} option form-control" name="{{ option | handleize}}"></select>
              </li>
            {% endfor %}
          </ul>

          <hr>

          <div id="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
            {% if product.available %}
              <link itemprop="availability" href="http://schema.org/InStock" />
            {% else %}
              <link itemprop="availability" href="http://schema.org/OutOfStock" />
            {% endif %}
            <p>
              {% if product.compare_at_price > product.price %}
                <span class="product-price on-sale" itemprop="price">{{ product.price | money }}</span>&nbsp;<s class="product-compare-price">{{ product.compare_at_price_max | money }}</span>
              {% else %}
                <span class="product-price" itemprop="price">{{ product.price | money }}</span>
              {% endif %}
              <br><small>Preis inkl. MwSt., zzgl. <a href="/pages/versandkosten">Versand</a></small>
              <br><small>{{ settings.shipping_period }}</small>
            </p>
          </div>

          <div id="product-add">
            {% if product.available %}
              <button type="submit" name="add">In den Warenkorb</button>
              {% if product.type == "Helme" %}
              <br><small>(ohne Facemask, <a href="/collections/zubehor-{{ product.handle }}">bitte hier wählen</a>)</small>
              {% endif  %}
            {% endif %}
          </div>
          <div id="availability">
            <p>Leider ist das Produkt zur Zeit vergriffen. Wir benachrichtigen Dich gerne sobald es verfügbar ist. <a href="http://www.play-makers.de/pages/contact?contact[body]=Bitte benachrichtigt mich wenn  ** {{ product.vendor}} {{ product.title }} ** wieder verfügbar ist">Nutze unseren Benachrichtigungs Service hier</a>.</p>
          </div>
        </div>
      </div>
    </form>

    <div class="row">
      <div id="accordion" class="panel-group col-md-12" itemprop="description">
          {% assign product_accordeon_panel_title = 'Produktbeschreibung' %}
          {% assign product_accordeon_panel_body = product.description %}
          {% include 'product_accordeon_panel' with 'Infos' %}

          {%assign metafields = product.metafields.features %}
          {% if metafields.size > 0 %}
            {% assign product_accordeon_panel_title = 'Eigenschaften' %}
            {% assign cpage_description = cpage_description | append: 'Mit den Eigenschaften: ' %}
            {% capture product_accordeon_panel_body %}
            <ul>
              {% for metafield in metafields %}
                {% assign feature_details = metafield | last | split: '|' %}
                {% assign cpage_description = cpage_description | append: feature_details[1] | append: ', ' %}
                <li>
                  <img src="{{ feature_details[0] | asset_url }}" alt="{{ feature_details[1] | escape}}" class="img-responsive"/>
                  <span class="caption">
                    <h4>{{ feature_details[1] }}</h4>
                    <p>{{ feature_details[2] }}</p>
                  </span>
                </li>
              {% endfor %}
            </ul>
            {% endcapture %}
            {% include 'product_accordeon_panel' with 'features' %}
          {% endif %}

          {% assign metafields = product.metafields.fitting %}
          {% if metafields.size > 0 %}
            {% assign product_accordeon_panel_title = 'Grössenangaben' %}
            {% capture product_accordeon_panel_body %}
              <ul>
                <li>
                  {{ metafields.fitting_0 }}
                </li>
                {% if product.type == "Helme" %}
                  {% assign fitting_image = 'fitting_helmets.png' %}
                {% elsif product.type == "Handschuhe" %}
                  {% assign fitting_image = 'fitting_hands.png' %}
                {% elsif product.type == "Pads" %}
                  {% assign fitting_image = 'fitting_pads.png' %}
                {% endif %}
                {% if fitting_image %}
                  <li>
                    <img src="{{ fitting_image | asset_url }}">
                  </li>
                {% endif %}
                <li>
                  {{ metafields.fitting_1 }}
                </li>
              </ul>
            {% endcapture %}
            {% include 'product_accordeon_panel' with 'fitting' %}
          {% endif %}

          {% if product.metafields.accessories.size > 0 %}
            {% assign product_accordeon_panel_title = 'Zubehör' %}
            {% capture product_accordeon_panel_body %}
              <ul>
              {% for accessorie in product.metafields.accessories %}
                <li><ul>
                  {% assign accessories = accessorie | last | split: ',' %}
                  {% for accessorie_id in accessories %}
                    <li>{% include 'product_accessorie' with accessorie_id %}</li>
                  {% endfor %}
                </ul></li>
              {% endfor %}
              </ul>
            {% endcapture %}
            {% include 'product_accordeon_panel' with 'accessories' %}
          {% endif %}
      </div>
    </div>
  </div>
</div>

{% capture content_for_footer %}
  {{ content_for_footer }}
  <script type="text/javascript">
    var variants = {},
    addVariant = function(variant){
      $('#variants').hide();
      variant.key = '';
      $.each( variant.options, function(key, value) {
        var norm_value = value.replace(' ', '').replace('/', '');
        variant.key += norm_value;
        $('select.' + key).filter(function(select) {
          return $(this).find("option." + norm_value).length !== 1;
        })
          .append('<option class="' + norm_value +'" value="' + norm_value + '">' + value + '</option>')
          .each(function(select) {
            var toggle = $(this).find("option").size() > 1;
            $(this).parent('li').toggle(toggle);
          });
      });
      variants[variant.key] = variant;
    };

    $('#options select.option').on('change', function(event){
      var key = $('#options select.option').map(function(index, option) {
        return $(this).val();
      }).toArray().join('');
      $('#product-select').trigger('changeVariant', variants[key]);
    });

    $('#product-select').on('change', function(event, variant) {
      var select = $(this),
      id = select.val();
      $.each(variants, function(key, variant) {
        if(variant.id == id) {
          select.trigger('changeVariant', variant);
        }
      });
    }).on('changeVariant', function(event, variant) {
      if(variant) {
        $(this).val(variant.id);
        $('form').toggleClass('unavailable', !variant.available);
        $('.product-price').html(variant.price);
      }
      else {
        $('form').addClass('unavailable');
      }
    });

    $(document).ready(function() {
      {{ product_variants }}
    });
  </script>
{% endcapture %}


{% if product.type == "Helme" %}
  {% assign collection_name = 'zubehor-' | append: product.handle %}
  {% assign collection = collections[collection_name] %}
{% elsif product.type == "Pads" %}
  {% assign collection = collections['zubehor-pads'] %}
{% else %}
  {% assign collection = collections['american-football'] %}
{% endif %}

{% capture cpage_description %}{{ cpage_description }}Für die Positionen: {{ product.tags | join: ", " }}{% endcapture %}

{% include 'related_products' with collection %}
