<div class="{{ product.type | downcase }} content-offset row" itemscope itemtype="http://schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
  <meta itemprop="image" content="{{ product.featured_image.src | product_img_url: 'grande' }}" />

  <div class="col-md-10 col-md-offset-1">
    <form action="/cart/add" method="post" enctype="multipart/form-data">
      <div class="row">
        <div id="product-photo-container" class="col-md-5">
          <a class="fancybox" href="{{ product.featured_image.src | product_img_url: 'original' }}" title="{{ product.vendor }} {{ product.title }}" rel="gallery">
            <img src="{{ product.featured_image.src | product_img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}" class="img-rounded img-responsive"/>
          </a>
        </div>
        <div class="col-md-1 thumbs">
          <ul id="product-photo-thumbs" class="list-unstyled">
            {% for image in product.images offset:1 limit:3 %}
              <li class="product-photo-thumb">
                <a class="fancybox" href="{{ image.src | product_img_url: 'original' }}" title="{{ image.alt | escape }}" rel="gallery">
                  <img src="{{ image.src | product_img_url: 'compact' }}" alt="{{ image.alt | escape }}" class="thumbnail img-responsive" />
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-md-6">
          <h1 itemprop="name">{{ product.vendor }} {{ product.title }}</h1>

          <hr>

          <ul id="options" class="list-unstyled list-inline">
            <li id="variants">
              <label for="id">Optionen</label>
              <select id="product-select" class="form-control" name="id">
                {% for variant in product.variants %}
                  <option value="{{ variant.id }}">{{ variant.title }}</option>
                  {% capture product_variants %}
                    {{ product_variants }}
                    addVariant({
                      id: {{variant.id}},
                      price: '{{variant.price | money}}',
                      options: {
                        {% if product.options[0] %}{{product.options[0] | handleize}}: '{{variant.option1}}'{% endif %}
                        {% if product.options[1] %},{{product.options[1] | handleize}}: '{{variant.option2}}'{% endif %}
                        {% if product.options[2] %},{{product.options[2] | handleize}}: '{{variant.option3}}'{% endif %}
                      },
                      available: {{variant.available}}
                    });
                  {% endcapture %}

                {% endfor %}
                {% if item.product.variants.size < 1 %}
                  <option value="{{ product.id }}">{{ product.vendor }} {{ product.title }}</option>
                {% endif %}
              </select>
            </li>
            {% for option in product.options %}
              <li>
                <label for="{{ option | handleize}}">{{ option }}</label>
                <select class="{{ option | handleize }} option form-control" name="{{ option | handleize}}"></select>
              </li>
            {% endfor %}
          </ul>

          <hr>

          <div id="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
            {% if product.available %}
              <link itemprop="availability" href="http://schema.org/InStock" />
            {% else %}
              <link itemprop="availability" href="http://schema.org/OutOfStock" />
            {% endif %}
            <p>
              {% if product.compare_at_price > product.price %}
                <span class="product-price on-sale" itemprop="price">{{ product.price | money }}</span>&nbsp;<s class="product-compare-price">{{ product.compare_at_price_max | money }}</span>
              {% else %}
                <span class="product-price" itemprop="price">{{ product.price | money }}</span>
              {% endif %}
              <br><small>Preis inkl. MwST, zzgl. <a href="/pages/versandkosten">Versand</a></small>
            </p>
          </div>

          <div id="product-add">
            {% if product.available %}
              <button type="submit" name="add" id="add" class="btn btn-default">In den Warenkorb</button>
            {% endif %}
          </div>
          <div id="availability">
            <p>Das Produkt ist zur Zeit leider vergriffen</p>
          </div>
        </div>
      </div>
    </form>

    <div class="row">
      <div id="accordion" class="panel-group col-md-12" itemprop="description">
          {% assign product_accordeon_panel_title = 'Produktbeschreibung' %}
          {% assign product_accordeon_panel_body = product.description %}
          {% include 'product_accordeon_panel' with 'Infos' %}

          {%assign metafields = product.metafields.features %}
          {% if metafields.size > 0 %}
            {% assign product_accordeon_panel_title = 'Eigenschaften' %}
            {% capture product_accordeon_panel_body %}
            <ul>
              {% for metafield in metafields %}
                {% assign feature_details = metafield | last | split: '|' %}
                <li>
                  <img src="{{ feature_details[0] | asset_url }}" alt="{{ feature_details[1] | escape}}" class="img-responsive"/>
                  <span class="caption">
                    <h4>{{ feature_details[1] }}</h4>
                    <p>{{ feature_details[2] }}</p>
                  </span>
                </li>
              {% endfor %}
            </ul>
            {% endcapture %}
            {% include 'product_accordeon_panel' with 'features' %}
          {% endif %}

          {%assign metafields = product.metafields.fitting %}
          {% if metafields.size > 0 %}
            {% assign product_accordeon_panel_title = 'Grössenangaben' %}
            {% capture product_accordeon_panel_body %}
              <ul>
                {% for metafield in metafields %}
                  <li>
                    {{ metafield | last }}
                  </li>
                {% endfor %}
              </ul>
            {% endcapture %}
            {% include 'product_accordeon_panel' with 'fitting' %}
          {% endif %}
      </div>
    </div>
  </div>
</div>

{% capture content_for_footer %}
  {{ content_for_footer }}
  <script type="text/javascript">
    var variants = {},
    addVariant = function(variant){
      $('#variants').hide();
      variant.key = '';
      $.each( variant.options, function(key, value) {
        variant.key += value;
        $('select.' + key).filter(function(select) {
          return $(this).find("option." + value).length !== 1;
        }).append('<option class="' + value +'" value="' + value + '">' + value + '</option>');
      });
      variants[variant.key] = variant;
    };

    $('#options select.option').on('change', function(event){
      var key = $('#options select.option').map(function(index, option) {
        return $(this).val();
      }).toArray().join('');
      $('#product-select').trigger('changeVariant', variants[key]);
    });

    $('#product-select').on('change', function(event, variant) {
      var select = $(this),
      id = select.val();
      $.each(variants, function(key, variant) {
        if(variant.id == id) {
          select.trigger('changeVariant', variant);
        }
      });
    }).on('changeVariant', function(event, variant) {
      if(variant) {
        $(this).val(variant.id);
        $('form').toggleClass('unavailable', !variant.available);
        $('.product-price').html(variant.price);
      }
      else {
        $('form').addClass('unavailable');
      }
    });

    $(document).ready(function() {
      {{ product_variants }}
    });
  </script>
{% endcapture %}

