{% include 'breadcrumb' %}

{% assign variant = product.selected_or_first_available_variant %}

{% assign on_sale = false %}
{% if variant.compare_at_price > variant.price %}{% assign on_sale = true %}{% endif %}

<div class="grid" id="product" itemscope itemtype="http://schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  <div class="grid__item large--one-half text-right">
    <div class="grid">
      <div class="grid__item large--eleven-twelfths text-center">
        <div class="product-photo-container" id="productPhoto">
          {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
          <img id="productPhotoImg" src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" {% if settings.product_image_zoom_enable %} data-zoom="{{ featured_image | img_url: 'grande' }}"{% endif %}>
        </div>
        {% if product.images.size > 1 %}
          <ul class="product-photo-thumbs grid-uniform" id="productThumbs">

            {% for image in product.images offset: 1 %}
              {% if forloop.index < 5 %}
                <li class="grid__item one-quarter">
                  <a href="{{ image.src | img_url: 'large' }}" rel="fancybox-thumb" class="fancybox-thumb product-photo-thumb" title="{{ product.vendor }} {{ image.alt | escape }}">
                    <img src="{{ image.src | img_url: 'small' }}" alt="{{ product.vendor }} {{ image.alt | escape }}">
                  </a>
                </li>
              {% else %}
                <li class="grid__item one-quarter hidden">
                  <a href="{{ image.src | img_url: 'large' }}" rel="fancybox-thumb" class="fancybox-thumb product-photo-thumb" title="{{ product.vendor }} {{ image.alt | escape }}"></a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
          <a href="{{ product.images[1] | img_url: 'large' }}" rel="fancybox-thumb" class="fancybox-thumb product-photo-thumb" title="{{ product.vendor }} {{ product.title | escape }}">{{ 'products.product.more_gallery' | t }}</a>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="grid__item large--one-half text-left">
    <ul class="inline-list product-header">
      <li class="product-vendor" itemprop="brand">{{ product.vendor }}</li>
      <li><h2 class="product-title" itemprop="name">{{ product.title }}</h2></li>
      {% if settings.product_reviews_enable %}
      <li class="product-reviews" >
        <a href="#reviews">
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        </a>
      </li>
      {% endif %}
    </ul>

    <div class="product-teaser">
      {{ page_description }} <a href="#description">{{ 'products.product.more_description' | t }}</a>
    </div>

    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <meta itemprop="priceCurrency" content="{{ shop.currency }}">
      <meta itemprop="price" content="{{ variant.price | money }}">

      {% capture shipping_key %}{% if variant.price < 10000 %}products.product.shipping_html{% else %}products.product.shipping_free_html{% endif %}{% endcapture %}

      <ul class="inline-list product-price">
        <li>
          <span id="comparePrice">{{ variant.compare_at_price | money }}</span>
        </li>
        <li>
          <span id="productPrice">{{ variant.price | money }}</span>
        </li>
      </ul>
      <div>{{ 'products.product.mwst' | t }}{{ shipping_key | t }}</div>

      <hr id="variantBreak" class="hr--clear hr--small">

      <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

      <form action="/cart/add" method="post" enctype="multipart/form-data" id="addToCartForm">
        <ul id="options">
          <li id="variants">
            <select name="id" id="productSelect" class="product-variants">
              {% for variant in product.variants %}
                {% if variant.available %}

                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                  {% capture product_variants %}
                    {{ product_variants }}
                    addVariant({
                      id: {{variant.id}},
                      price: '{{variant.price | money}}',
                      comparePrice: '{{variant.compare_at_price | money}}',
                      onSale: {{ on_sale }},
                      options: {
                        {% if product.options[0] %} {{product.options[0] | handleize | replace: '-', ''}}: '{{variant.option1}}'{% endif %}
                        {% if product.options[1] %},{{product.options[1] | handleize | replace: '-', ''}}: '{{variant.option2}}'{% endif %}
                        {% if product.options[2] %},{{product.options[2] | handleize | replace: '-', ''}}: '{{variant.option3}}'{% endif %}
                      },
                      available: {{variant.available}},
                      {% if variant.featured_image.src %}
                      image: '{{variant.featured_image.src | product_img_url: 'grande'}}',
                      {% endif %}
                      quantity: {% if variant.inventory_quantity > 0 %}1{% else %}0{% endif %}
                    });
                  {% endcapture %}
                {% else %}
                  <option disabled="disabled">
                    {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                  </option>
                {% endif %}
              {% endfor %}
            </select>
          </li>
          {% for option in product.options %}
            <li>
              {% capture handle %}{{ option | handleize | replace: '-', ''}}{% endcapture %}
              <span>{{ option }}</span>
              <div class="{{ handle }} btn-group btn-group-sm" data-toggle="buttons"></div>
            </li>
          {% endfor %}
        </ul>

        {% if settings.product_quantity_enable %}
          <label for="quantity" class="quantity-selector">">{{ 'products.product.quantity' | t }}</label>
          <input type="number" id="quantity" name="quantity" value="1" min="1" class="quantity-selector">
        {% endif %}

        <div id="product-add">
          <button type="submit" name="add" id="addToCart" class="btn">
            <span class="icon icon-cart"></span>
            <span id="addToCartText">{{ 'products.product.add_to_cart' | t }}</span>
          </button>
        </div>
        <div id="product-preorder">
          <a href="/pages/produkt-vorbestellung?contact[product]={{ product.vendor }} {{ product.title }}&contact[body]=" data-fancybox-type="iframe" class="btn preorder">unverbindlich Vorbestellen</a>
        </div>
        <div id="product-unavailable">
          <p>Leider ist das Produkt zur Zeit vergriffen.</p>
        </div>
        {% if product.type == "Helme" %}
          <small>(inkl. Soft-Cup Chinstrap, exkl. Facemask, <a href="{{ 'Zubehör ' | append: product.type | url_for_type}}" data-fancybox-type="iframe">bitte hier wählen</a>)</small>
        {% endif  %}
      </form>
    </div>
  </div>

  <div class="grid__item one-whole">
    <hr>
  </div>

  <div class="grid__item large--two-thirds push--large--one-sixth">
    {%assign metafields = product.metafields.features %}
    {% if metafields.size > 0 %}
      <span class="h1">{{ 'products.product.features' | t }}:</span>
      <ul class="inline-list product-features">
        {% for metafield in metafields %}
          {% assign feature_details = metafield | last | split: '|' %}
          {% assign cpage_description = cpage_description | append: feature_details[1] | append: ', ' %}
          <li>
            <img src="{{ 'feature_' | append: feature_details[0] | asset_url }}" alt="{{ feature_details[1] | escape}}" class="img-responsive"/>
            <span class="caption">
              <h4>{{ feature_details[1] }}</h4>
              <p>{{ feature_details[2] }}</p>
            </span>
          </li>
        {% endfor %}
      </ul>
      <hr>
    {% endif %}

    <div id="description" class="product-description rte" itemprop="description">
      {{ product.description }}
    </div>

    {% if settings.social_sharing_products %}
      {% include 'social-sharing' %}
    {% endif %}

    {% if settings.related_products_enable %}
      {% if product.type == "Helme" %}
        {% assign collection_name = 'zubehor-' | append: product.handle %}
        {% assign collection = collections[collection_name] %}
      {% elsif product.type == "Schulterpolster" %}
        {% assign collection = collections['zubehor-pads'] %}
      {% else %}
        {% assign collection = collections['american-football'] %}
      {% endif %}
      {% assign grid_item_width = 'large--one-quarter medium--one-half small--one-half' %}
      {% include 'related-products' %}
    {% endif %}

    {% if settings.product_reviews_enable %}
      <hr id="reviews">
      <div id="shopify-product-reviews" data-id="{{ product.id }}">
        {{ product.metafields.spr.reviews }}
      </div>
    {% endif %}
  </div>
</div>

<script>
  Shopify.Image = {
    preload: function (images, size) {
      for (var i=0; i < images.length; i++) {
        var image = images[i];

        this.loadImage(this.getSizedImageUrl(image, size));
      }
    },

    loadImage: function (path) {
      new Image().src = path;
    },
  }
</script>

{% if settings.product_image_zoom_enable %}
  {{ 'jquery.zoom.min.js' | asset_url | script_tag }}
{% endif %}

{% capture content_for_footer %}
  {{ content_for_footer }}
  <script type="text/javascript">
    $(document).ready(function() {
      {{ product_variants }}
      if(defaultVariant) { init(defaultVariant); }
      $('#variants').hide();
    });
  </script>
{% endcapture %}
